﻿@charset "utf-8";

/*
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: normal;
   src: url(/com/font/notokr-regular.eot?#iefix) format('embedded-opentype'),
         url(/com/font/notokr-regular.woff2) format('woff2'),
        url(/com/font/notokr-regular.woff) format('woff'),
        url(/com/font/notokr-regular.ttf) format('truetype');
 }

 @font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: bold;
   src: url(/com/font/notokr-medium.eot?#iefix) format('embedded-opentype'),
         url(/com/font/notokr-medium.woff2) format('woff2'),
        url(/com/font/notokr-medium.woff) format('woff'),
        url(/com/font/notokr-medium.ttf) format('truetype');
 }
*/
/* ===Reset=== */
body.modal{overflow:hidden}
html, body{box-sizing:border-box;height:100%}
html{-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;position:relative;}
body{font-size:14px;line-height:1.4em;background-color:#fff;color:#333; font-family:'Century Gothic',AppleGothic,"Apple SD Gothic Neo",Sans-serif;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,menu,footer,blockquote,optgroup{margin:0;padding:0;line-height:1.4em;box-sizing:border-box;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display: block;margin:0;padding:0;box-sizing:border-box;}
audio,canvas,progress,video{display: inline-block;vertical-align: baseline;box-sizing:border-box;}
div{box-sizing:border-box}
audio:not([controls]){display: none;  height: 0;}
[hidden],template{display: none;}
a{background-color: transparent;}
a:active,a:hover{outline: 0;}
b,strong{font-weight: bold;}
dfn{font-style: italic;}
h1, h2, h3, h4, h5, h6{ font-size: 1em;}
mark{background: #ff0;color: #000;}
small{font-size: 80%;}
sub,sup{font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
img{border: 0;display:inline-block;vertical-align:top;}
svg:not(:root){overflow: hidden;}
figure{margin: 1em 40px;}
hr{box-sizing: content-box;height: 0;}
pre{overflow: auto;}
code,kbd,pre,samp{font-family: monospace, monospace;font-size: 1em;}
iframe{border:0}
button{overflow: visible;}
button,select{text-transform: none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance: button;cursor: pointer;}
button[disabled],html input[disabled]{cursor: default;}
button::-moz-focus-inner,input::-moz-focus-inner,legend{border: 0;padding: 0;}
input{line-height: normal;}
input[type="checkbox"],input[type="radio"]{box-sizing: border-box;padding: 0;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height: auto;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance: none;}
textarea{overflow: auto;}
ul,ol,li{list-style:none}
em,address{font-style:normal}
a{color:inherit;text-decoration:none}
table{border-collapse:collapse;border-spacing: 0;}

caption{height: 0; overflow: hidden; font-size: 0; line-height: 0; text-indent: -20000px;}

/* ===Form element base === */
input[type=text],
input[type=password],
input[type=tel],
input[type=number],
input[type=date],
input[type=email], 
input[type=search]{border:solid 1px #dbdbdb;padding:9px 5px 9px 5px;background-color:#fff}
input[type=radio],
input[type=checkbox]{margin-right:0.2em;vertical-align:middle;display:inline-block}
textarea{border:solid 1px #dbdbdb;padding:0.5em 0.4em;background-color:#fff}
select {color: #333; font-size: 14px;padding:7px 7px 7px 10px;border:solid 1px #dbdbdb; /*-webkit-appearance: none;-moz-appearance: none; appearance: none; background: url('/pc/img/common/icon_select.png') no-repeat right center;*/}
:root select{padding-right:10px\0/IE9;}
select::-ms-expand { display: none;}
input + label{margin-left:3px}
input[type=radio] + label,
input[type=checkbox] + label{margin-right:0.5em}
input[type=checkbox]{margin-right:0.1em}

/* 
Form element inactive */
input[disabled=disabled], select[disabled=disabled],
input[disabled], select[disabled],
input[readonly=readonly], select[readonly=readonly]{background-color:#f0f0f0 !important;border:solid 1px #aaa !important;color:#999 !important}
input[type=radio]:disabled{background:none !important;border:1px #aaa solid !important;border-radius:100px;color:#242424 !important;opacity:0.5 !important;width:1em;height:1em;}

::-moz-placeholder{font-size:18px;line-height:1.5em;}
::-webkit-input-placeholder{font-size:18px;line-height:1.5em;color:#666}
table td ::-moz-placeholder{font-size:1em;line-height:1.3em}
table td ::-webkit-input-placeholder{font-size:1em;line-height:1.3em}

input[type=password]::-moz-placeholder,
input[type=text]::-moz-placeholder{padding-bottom:0.6em; line-height:1.5em;}
input[type=password]::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder{padding-bottom:0.6em; line-height:1.5em;}

select, input[type="text"], input[type="password"], input[type="checkbox"], input[type="date"], input[type="tel"]{vertical-align:middle;}
input+span{vertical-align:middle;}

/* ====== Reservation style====== */
/* Word crop */
.wbKa{word-break:keep-all;}
.wbba{word-break:break-all;}
table.wbba tr td{white-space:normal !important;}

input.num{text-align:right;}
.hide{display:inline-block;position:absolute;left:-99999px}
.hide_title{display:block;position:absolute;left:-9999px;top:-9999px;width:1px;height:1px;overflow:hidden}
.none{display:none !important}
.disb{display:block !important}
.disIn{display:inline !important}

.pointC01{color:#007dc6 !important}
.w100p{width:100%}
.textA01{width:100%;height:120px}

/* location */
.floatL{float:left;}
.floatR{float:right;}
.alignL{text-align:left !important;}
.alignC{text-align:center !important;}
.alignR{text-align:right !important;}
.verT{vertical-align:top !important;}
.verM{vertical-align:middle !important;}
.verB{vertical-align:bottom !important;}
.overH{overflow:hidden !important}

/* interval */
.mgT0{margin-top:0px !important;}
.mgT5{margin-top:5px !important;}
.mgT3{margin-top:3px !important;}
.mgT7{margin-top:7px !important;}
.mgT10{margin-top:10px !important;}
.mgT15{margin-top:15px !important;}
.mgT20{margin-top:20px !important;}
.mgT25{margin-top:25px !important;}
.mgT30{margin-top:30px !important;}
.mgT35{margin-top:35px !important;}
.mgT40{margin-top:40px !important;}
.mgT45{margin-top:45px !important;}
.mgT50{margin-top:50px !important;}
.mgT60{margin-top:60px !important;}

.mgB0{margin-bottom:0px !important;}

.pdT0{padding-top:0 !important;}

/* border reset */ 
.bdNone{border:0 !important;}


/* form area */
.se_all{width:100%;}
.input_all{width:100% !important;}
textarea.input_all{width:100% !important;height:240px}
.input_m{width:85% !important;}
.input_m1{width:75% !important;}
.input_m2{width:50% !important;}
.input_s{width:25% !important;;}

/* Font weight */
.fwN{font-weight:normal !important;}
.fwB{font-weight:bold !important;}

/* Text spacing */
.ls00{letter-spacing:0px;}
.ls01{letter-spacing:-1px;}
.ls02{letter-spacing:-2px;}

/* Text font color spacing */
.ico-color {color:#ed6d00 !important;}

/* Layout */
body.main{background-color:#141414}
#wrap{height:100%}
.inner{width:94%/* 1200px */;margin:0 auto}
.inner:after{content:'';display:block;clear:both}
.header{background-color:#141414}
.header{position:fixed;left:0;top:0;;z-index:999;width:100%}
.header:after{content:'';display:block;clear:both}
.top_contactus{text-align:right;border-bottom:solid 1px #353535;height:38px;padding-top:10px}
.top_contactus dl{float:right;}
.top_contactus dl dt{float:left;color:#bdbdbd;line-height:17px}
.top_contactus dl dd{float:left}

.top_contactus .inner h1.logo .goto-ico {display:none;}

.contact_us img {margin:0 5px;}

/*헤더*/
.header h1.logo{float:left;padding-top:28px}
.header h1.logo a{display:inline-block;}
.header h1.logo a + a{margin-left:20px}
.gnbArea{height:78px}
.header .gnb_cont{float:left;color:#fff;font-size:15px;margin-top:18px}
.header .gnb_cont li{display:inline-block;margin-left:16px}
.header .gnb_cont li a{display:block;padding:10px 0}
.header .gnb_cont li a:hover{color:#ed6d00}
.header .gnb_cont li a.current{color:#ed6d00}

.login_name{float:right; margin-top:25px; text-align:center;}
.login_name li{color:#fff; padding:5px 10px 10px; display:inline-block;}
.login_name li a{display:block;}
.login_name li a:hover{color:#ed6d00;}


.footer{padding:24px 0 6px 0}
.footer_cont{width:1200px;margin:0 auto}
.footer h1{font-size:24px;color:#fff;font-weight:normal}
.wrap_footer_ent{display:table;width:100%;margin-top:18px}
.wrap_footer_ent > div{display:table-cell;vertical-align:middle;}
.footer_area2{border:solid 1px #4f4f4f;border-width:0 1px;padding:0 0 0 25px;width:613px}
.footer_area3{padding:0 0 0 17px}
.footer_store li{margin-bottom:7px}

.footer_sns{margin-top:15px}
.footer_sns li{display:inline-block}

.wrap_footer_ent dt{color:#fff;font-size:14px}
.wrap_footer_ent dd{color:#95867c;font-size:12px}

.container{display:table;width:100%;min-height:500px;margin-top:116px}

.cont_inner:after{content:'';display:block;clear:both}
.cont_inner{width:1024px;margin:0 auto}
.lang{
	float:left;margin-left:10px;color:#fff;
}
.on{
	color:orange;
}
.main_vision{}
.main_vision .summary{height:562px;background:url("../images/common/bg_main01.jpg") no-repeat center top;}
.vision_cont1{float:left;text-align:center;background:url('../images/common/icon_main_vision1.png') no-repeat center top;background-size:123px;padding-top:138px;font-size:37px;color:#fff;
                     text-shadow:1px 1px 3px #777; line-height:1.4em;margin-top:130px; font-weight:bold;}
.vision_cont2{float:right;text-align:center;}
.vision_cont2 p{font-size:24px;line-height:40px;color:#fff;margin-top:140px}
.vision_cont2 ul{margin-top:50px}
.vision_cont2 li{display:inline-block}
.main_vision .ent_cont{background-color:#2b2b2b;color:#fff;font-size:18px;padding:80px 0}
.vision_list{}
.vision_list li{float:left;width:50%; background:url("../images/common/icon_vision1.png") no-repeat left top;min-height:80px;padding:0 15px 0 98px;}
.vision_list li:nth-child(2){background-image:url("../images/common/icon_vision2.png")}
.vision_list li:nth-child(3){background-image:url("../images/common/icon_vision3.png");margin-top:50px}
.vision_list li:nth-child(4){background-image:url("../images/common/icon_vision4.png");margin-top:50px}

.ico .main_vision .summary{height:562px;background:url("../images/common/bg_ico_main01.jpg") no-repeat center top;}
.ico01_cont{text-align:center;color:#fff;padding-top:55px}
.ico01_cont h2{font-size:48px;font-weight:normal}
.ico01_cont_date{width:1024px;margin:0 auto;background:url("../images/common/bg_tr.png") repeat center top;display:table;padding:50px 0;margin-top:50px}
.ico01_cont_date .title,.ico01_cont_date .date_cont{display:table-cell;width:50%;vertical-align:middle}
.ico01_cont_date .title{font-size:60px;color:#959595;line-height:1em}
.ico01_cont_date .date_cont li{display:inline-block;text-align:center}
.ico01_cont_date .date_cont li span,.ico01_cont_date .date_cont li strong{display:block;font-size:14px}
.ico01_cont_date .date_cont li strong{font-size:48px;color:#ed6d00;font-weight:normal;line-height:1em;background:url("../images/common/bg_01.png") no-repeat left center;padding:0 15px;margin-top:10px}
.ico01_cont_date .date_cont li:first-child strong{background:none}

.ico02_cont{font-size:18px;color:#fff ;text-align:center;width:940px;margin: 0 auto}
.ico02_cont h2{font-size:36px;font-weight:normal}
.ico02_cont p{margin-top:30px}



.ico02_cont dl:after{content:'';display:block;clear:both}
.ico02_cont dl{margin-top:10px}
.ico02_cont dl dt{float:left;text-align:right;width:30%;padding-top:20px;padding-right:30px;color:#959595}


.ico02_cont dl dd{float:right;position:relative;width:70%;}
.ico02_cont dl dd + dt{margin-top:35px}

/* 
.ico02_cont dl dd{float:right;position:relative;}
.ico02_cont dl dd .ico_bar{position:absolute;background-color:#ed6d00;left:0px;top:47px;height:5px}
.ico02_cont dl dd + dt{margin-top:45px}
.ico02_cont dl dd ul{display:table;width:638px;color:#ed6d00;}
.ico02_cont dl dd ul li{display:table-cell;width:16.66%;text-align:left}
.ico02_cont dl dd ul li strong,.ico02_cont dl dd ul li span{display:block}
.ico02_cont dl dd ul li strong{font-size:30px;font-weight:normal;padding-bottom:46px}
.ico02_cont dl dd ul li span{font-size:14px} */

.btn_ico1{margin-top:60px}
.btn_ico1 a{display:inline-block;border:solid 3px #959595;background-color:#000;line-height:70px;font-size:24px;border-radius:100px;padding:0 35px}

.main_facial{color:#b7b7b7;font-size:18px}
.main_facial .cont_inner{width:1200px}
.main_facial .summary{color:#fff;font-size:18px;background:url("../images/common/bg_main02.jpg") no-repeat center top;height:562px;padding-top:60px;}
.main_facial .summary h2{font-size:60px ;color:#ed6d00;font-weight:normal;margin-bottom:50px}
.main_facial .summary p{width:650px}
.main_facial .summary p + p{margin-top:25px}
.main_facial .ent_cont{background:url("../images/common/bg_main03.jpg") no-repeat center top;height:457px;padding-top:67px}
.main_facial .ent_cont1{background-color:#ed6d00 no-repeat center top;height:457px;padding-top:67px}
.main_facial .ent_cont h2{font-size:60px;font-weight:normal;color:#ed6d00;}
.facial_cont1{width:1112px;padding:0 0 0 440px;background:url("../images/common/icon_fa01.png") no-repeat 40px top;min-height:303px}
.facial_cont1 p{margin-top:15px}


.ico .main_facial{text-align:center}
.ico .main_facial .summary{background:url("../images/common/bg_ico_main02.jpg") no-repeat center top;height:713px;}
.ico .main_facial h2{font-size:48px;color:#fff}
.roadmap{text-align:left;background:url("../images/common/bg_bar2_r.png") repeat-y center top;width:100%}
.roadmap li:after{content:'';display:block;clear:both}
.roadmap li{padding-left:50%;background:url("../images/common/icon_map01_r.png") no-repeat center top;width:100%}
.roadmap li:nth-child(odd) strong{padding-left:40px;background:url("../images/common/icon_map02_r.png") no-repeat left 10px}
.roadmap li:nth-child(even){padding-left:0;padding-right:50%;text-align:right}
.roadmap li:nth-child(even) strong{float:right;height:2.5em;padding-right:40px;background:url("../images/common/icon_map02_r.png") no-repeat right 10px}
.roadmap li strong{color:#ed6d00;font-weight:normal;display:block;width:100px;float:left;}
.roadmap li span{word-break:break-word}


.main_Distribution{font-size:18px;color:#fff}
.main_Distribution .cont_inner{width:1200px}
.main_Distribution .summary{background:url("../images/common/bg_main04.jpg") no-repeat center top;height:562px;padding-top:50px}
.main_Distribution .summary h2{font-size:60px ;font-weight:normal;color:#ed6d00;margin-bottom:50px}
.main_Distribution .ent_cont{color:#b7b7b7;background:url("../images/common/bg_main05.jpg") no-repeat center top;background-color:#2b2b2b;/* height:407px; */padding-top:40px;padding-bottom:60px;}
.main_Distribution .ent_cont h2{font-size:60px;font-weight:normal;color:#ed6d00;}
.distri_cont1{padding-left:435px;text-align:right;font-size:18px}
.distri_cont1 p{margin-top:15px;line-height:1.2em}

.main_shopping{color:#fff;font-size:18px;}
.main_shopping .cont_inner{width:1200px}
.main_shopping .summary{background:url("../images/common/bg_main06.jpg") no-repeat center top;height:652px;padding-top:70px}
.main_shopping .summary h2{font-size:36px ;font-weight:normal;margin-bottom:30px;color:#ed6d00}
.shopping_cont1{width:890px}
.shopping_cont1 p{margin-top:15px;line-height:1.2em}
.main_shopping .ent_cont{color:#b7b7b7;background:url("../images/common/bg_main05.jpg") no-repeat center top;height:407px;padding-top:40px}
.main_shopping .ent_cont h2{font-size:60px;font-weight:normal;}

.ico .main_shopping .summary{background:#2b2b2b;height:auto;padding-top:50px;text-align:center;font-size:18px}
.ico .main_shopping .summary h2{color:#fff}
.ico .main_shopping .summary p{margin-top:20px}
.pointC01{color:#ed6d00 !important;}
.develpers_cont1{padding-bottom:30px}
.develpers_cont1 ul{text-align:center;margin-top:30px}
.develpers_cont1 ul li{display:inline-block}
.develpers_cont1 ul li a{display:block;border:solid 3px #959595;text-align:center;background:url("../images/common/bg_dep2.png") no-repeat center 45px #000;border-radius:10px;padding:125px 20px 30px 20px;}
.develpers_cont1 ul li:first-child a{background-image:url("../images/common/bg_dep1.png")}
.develpers_cont1 ul li + li{margin-left:50px}

.main_sns{color:#fff;font-size:18px;}
.main_sns .cont_inner{width:1200px}
.main_sns .summary{background:url("../images/common/bg_main07.jpg") no-repeat center top;height:562px;padding-top:40px}
.main_sns .summary h2{font-size:60px ;font-weight:normal;margin-bottom:30px;color:#ed6d00}
.sns_cont1{width:730px}
.sns_cont1 p{margin-top:40px;}
.main_sns .ent_cont{background-color:#2b2b2b}
.sns_cont2{background:url("../images/common/bg_sns1.png") no-repeat 45px center;padding:40px 0 60px 388px;color:#b7b7b7}
.sns_cont2 p{margin-top:15px}
.btnArea{margin-top:25px}
.btnType01{background-color:#ed6d00;color:#fff;display:inline-block;box-sizing:border-box;min-width:150px;text-align:center;padding:13px 30px}
.btnType01 + .btnType01{margin-left:15px}

.ico .main_sns .summary{padding-top:0}

.main_fond{color:#fff;font-size:18px;}
.main_fond .cont_inner:after{content:'';display:block;clear:both}
.main_fond .cont_inner{width:1200px}
.main_fond .summary{background:url("../images/common/bg_main08.jpg") no-repeat center top;/* height:562px; */background-size:100% 120%;}
.main_fond .summary h2{font-size:60px ;font-weight:normal;margin-bottom:30px;color:#ed6d00}
.fond_cont1{background:url("../images/common/img_pic1.png") no-repeat right bottom;min-height:523px;padding-right:450px;padding-top:40px;padding-bottom:40px;}
.fond_cont1 p + p{margin-top:20px}
.sign{margin-top:40px !important}
.sign span{display:block;margin-top:10px}

.fond_cont2 {display:table;width:100%;overflow:hidden; padding:0px 0px 70px;}
.fond_cont2 .img_zoom{display:table-cell;vertical-align:middle;}
.fond_cont2 .img_zoom > span{display:none;height:530px;overflow:hidden}
.fond_cont2 .img_zoom > span img{max-width:100%;}
.fond_cont2 .img_zoom > span.on{display:block}
.fond_cont2 ul{/* display:table-cell; */width:414px;vertical-align:top;padding-left:10px}
.fond_cont2 ul li{float:left;padding:0px 0 10px 10px}
.found_para{padding:50px 0}
.found_para span{display:block;margin-top:20px}

.main_contactus{color:#fff;font-size:14px;text-align:center;border-bottom:solid 1px #4f4f4f;}
.main_contactus .ent_cont {padding:50px 0 80px 0}
.main_contactus .ent_cont h2{font-size:48px;color:#ed6d00;font-weight:normal;margin-bottom:20px}
.main_contactus .ent_cont p span{display:block}

/* style ICO */
.ico .header .gnb_cont{float:left;margin-left:50px}
.ico .header .gnb_cont li a.current{color:#ed6d00;/* f49ac1 */}
.ico .header .gnb_cont li a:hover{color:#ed6d00;/* f49ac1 */}

.wrap_layerpopup{position:fixed;left:0;top:0;width:100%;height:100%;background:url("../images/common/bg_layerpopup.png") repeat left top;z-index:1001;display:table;}
.pop_inner{display:table-cell;height:100%;vertical-align:middle;padding:0 15px}
.layerpopup_cont{position:relative;max-width:600px;background-color:#fff;border-radius:10px;padding:20px 50px 40px 50px;margin:0 auto;text-align:center;font-size:18px;color:#000}
.popClose{display:block;text-align:right}
.layerpopup_cont h1{font-size:24px;font-weight:normal}
.layerpopup_cont p{margin-top:20px}
.pop_input{margin-top:20px}
.pop_input input{border:3px solid #000;border-radius:100px;box-sizing:border-box; outline:none; width:290px;;padding-right:20px;padding-left:20px;font-size:18px}
.pop_btn{margin-top:20px}
.pop_btn a{display:inline-block;border-radius:100px;box-sizing:border-box;width:290px;background-color:#ed6d00;line-height:52px; color:#fff;}
.pop_btn2 a{line-height:52px}
.pop_btn a:hover{background-color:#ed3400;}
.last_step{text-align:left;background:url("../images/common/bg_mail01.png") no-repeat center 25px;padding-top:80px}
.last_step + p{text-align:left;}
.pop_btn_close {margin-top:20px}
.pop_btn_close a{display:inline-block;background-color:#6b6b6b;color:#fff;border-radius:100px;box-sizing:border-box; line-height:49px;min-width:150px}

#wrap_other{max-width:1200px;margin:0 auto;padding:0 5%;font-size:18px}
#wrap_other h1{padding:45px 0 25px;}
.other_contain{border:solid 3px #ececec;padding:70px 76px;font-size:18px}
.other_contain h2{font-size:30px;color:#363636;font-weight:normal;margin-bottom:25px}
.other_contain h2 > span{border-bottom:solid 2px #ed6d00}

.other_contain h3{font-size:24px;font-weight:normal;margin:24px 0;color:#000}
.other_contents{padding:0 48px}
input.other_input{border:1px solid #000;border-radius:100px;box-sizing:border-box;padding-right:20px;padding-left:20px;font-size:18px}
.pointC02{color:#ed6d00}
.btn_area{margin-top:18px}
.btn_area li{display:inline-block;margin-left:30px}
.btn_area li:first-child strong{display:inline-block; background:url("../images/common/icon_other01.png") no-repeat right center;padding-right:50px;line-height:36px;}
.btn_area li strong{display:inline-block; background:url("../images/common/icon_other02.png") no-repeat right center;padding-right:50px;line-height:36px;}
.btn_area li >div{margin-top:20px}
.btn_area li a{display:inline-block;border-radius:100px;box-sizing:border-box;width:290px;background-color:#ed6d00;line-height:52px;text-align:center;color:#fff}
.other_contents + .other_contents{border-top:solid 1px #b8b8b8;margin-top:50px}
.btn_more{margin-top:20px}
.btn_more a{display:inline-block;border-radius:100px;box-sizing:border-box;background-color:#ed6d00;line-height:36px;text-align:center;color:#fff;font-size:14px;padding:0 15px;min-width:130px}
.input_half{display:table;width:100%;margin-top:25px;}
.input_half > span{display:table-cell}
.input_half > span input{width:100%}
.input_half .input_half_btn{width:175px;text-align:right;}
.input_half .input_half_btn a{display:inline-block;border-radius:100px;background-color:#ed6d00;padding:0 15px;line-height:41px;color:#fff;min-width:120px;text-align:center}
.wrap_input {border:1px solid #000;border-radius:100px;box-sizing:border-box;padding:9px 10px;font-size:18px;line-height:41px}
.wrap_input input{width:75%;border:0;}
.btn_view{display:inline-block;border-radius:100px;box-sizing:border-box;background-color:#ed6d00;line-height:37px;text-align:center;color:#fff;font-size:18px;padding:0 15px;min-width:130px}
/* .help{margin-top:60px;display:table;width:100%}
.help dt,.help dd{display:table-cell;}
.help dt em{display:inline-block;border:solid 3px #c5c5c5;width:27px; height:27px;text-align:center;border-radius:100px;line-height:27px}
.help dt span{font-size:30px} */

.help{margin-top:60px;display:table;width:100%}
.help dt,.help dd{float:left;}
.help dt{font-size:30px;background:url("../images/common/icon_help.png") no-repeat left 5px;padding-left:42px ;margin-right:50px}
.help dd{border-left:solid 1px #c5c5c5;padding-left:40px;font-size:18px}
.btn_set .other_input,
.btn_set .wrap_input{display:inline-block;line-height:46px;padding-top:0px;padding-bottom:0px;;margin-bottom:5px;width:260px}

.other_copy{margin:50px 15px 30px 15px;font-size:18px}
.other_copy a{color:#ed6d00}

.tabType01{}
.tabType01 li{display:inline-block;font-size:24px}
.tabType01 li a{display:block;padding-bottom:24px}
.tabType01 li + li{margin-left:15px}
.tabType01 li.on a{background:url("../images/common/icon_tab1.png") no-repeat 30px bottom;;color:#ed6d00;}

.tab_content{border:solid 2px #ed6d00;padding:50px 80px;}
.tab_content > strong{font-size:24px;font-weight:normal}

.sel_01{width:100%;border:solid 1px #d5d5d5;border-width:0 0 1px 0}



.coin_icon_set img {margin:0 15px;}

		

/* state bar */
.step-box {/* padding:0 10px 10px 10px; */background:#2b2b2b;}
.step-state {padding:0 0 15px 0;/* margin-top:15px; */background:#2b2b2b;}
.step-state ul:after {content:'';display:block;clear:both;}
.step-state ul li {float:left;position:relative;width:16.6666%;padding-top:30px;font-size:25px;text-align:center;line-height:12px;color:#ed6d00;}
.step-state ul li:first-child {/* font-size:13px; */}
.step-state ul li p:after {
	position:absolute;width:41px;height:24px;margin-right:-20px;
	background:url(../images/common/ico_pangpays2.png) no-repeat 0 0;
	background-size:auto 24px;
	background-position:-58px 0;
	top:0;
	right:0;
	color:#fff;
	font-size:11px;
	line-height:16px;
	letter-spacing:-.5px;
}
.step-state ul li:first-child p {
	/* padding-top:6px */
}
.step-state ul li span {
	display:block;
	margin-top:2px;
	font-weight:normal;
	color:#ed6d00/* #898989 */;
	font-size:14px
}
.step-state ul li:before {
	position:absolute;
	top:35px;
	left:0;
	right:0;
	height:3px;
	background:#ddd;
	content:''
}
/* Generate only the first progress bar*/
.step-state ul li:nth-child(1):before {
	left:50%
}
/* Generate only the last progress bar*/
.step-state ul li:nth-child(6):before {
	right:50%
}
/* Arrow status icon */
.step-state ul li:after {
	position:absolute;
	top:27px;
	left:50%;
	width:20px;
	height:20px;
	margin-left:-10px;
	background:url(../images/common/ico_pangpays2.png) no-repeat 0 0;
	background-size:auto 24px;
	background-position:0 0;
	content:''
}
/* Show activation progress bar and active arrow icon*/
/* Activation state Bicon display */
.step-state.step1-ing ul li:nth-child(1):before,
.step-state.step2 ul li:nth-child(-n+2):before,
.step-state.step2-ing ul li:nth-child(-n+2):before,
.step-state.step3 ul li:nth-child(-n+3):before,
.step-state.step3-ing ul li:nth-child(-n+3):before,
.step-state.step4 ul li:nth-child(-n+4):before,
.step-state.step4-ing ul li:nth-child(-n+4):before,
.step-state.step5 ul li:nth-child(-n+5):before,
.step-state.step5-ing ul li:nth-child(-n+5):before,
.step-state.step6 ul li:nth-child(-n+6):before {
	background:#ed6d00
}
/* Show activation icon */
.step-state.step1 ul li:nth-child(1):after,
.step-state.step2 ul li:nth-child(-n+2):after,
.step-state.step2-ing ul li:nth-child(-n+2):after,
.step-state.step3 ul li:nth-child(-n+3):after,
.step-state.step3-ing ul li:nth-child(-n+3):after,
.step-state.step4 ul li:nth-child(-n+4):after,
.step-state.step4-ing ul li:nth-child(-n+4):after,
.step-state.step5 ul li:nth-child(-n+5):after,
.step-state.step5-ing ul li:nth-child(-n+5):after,
.step-state.step6 ul li:nth-child(-n+6):after {
	background-position:-20px 0
}
/* 1/2 area deactivated state bar when in the conductive state */
.step-state ul li p:before {
	position:absolute;
	top:35px;
	left:50%;
	right:0;
	height:3px;
	content:'';
}
.step-state.step2 ul li:nth-child(2) p:before,
.step-state.step3 ul li:nth-child(3) p:before,
.step-state.step4 ul li:nth-child(4) p:before,
.step-state.step5 ul li:nth-child(5) p:before,
.step-state.step6 ul li:nth-child(6) p:before {
	background:#ddd
}
/* Show "Challenging" text */
.step-state.step1-ing ul li:nth-child(1) p:after,
.step-state.step2-ing ul li:nth-child(2) p:after,
.step-state.step3-ing ul li:nth-child(3) p:after,
.step-state.step4-ing ul li:nth-child(4) p:after,
.step-state.step5-ing ul li:nth-child(5) p:after {
	content:'Preparing';
}

/* Show "achieve" text */
/* .step-state.step2 ul li:nth-child(2) p:after,
.step-state.step3 ul li:nth-child(3) p:after,
.step-state.step4 ul li:nth-child(4) p:after,
.step-state.step5 ul li:nth-child(5) p:after,
.step-state.step6 ul li:nth-child(6) p:after{
	content:'';
	right:50%
} */







/* Mobile hidden element */
.top_contactus .inner h1.logo,
.menu_close,
.footer_sns_mo,
.mo_menu{display:none}

/* mobile */
@media only screen and (max-width : 1200px) {
 .login_name{margin-top:10px;}
}

@media only screen and (max-width : 1024px) {
	.top_contactus {height:58px;padding-top:23px}
	.top_contactus .inner{padding:0 20px}
	.top_contactus .inner h1.logo{display:block;margin-left:0px;}
	.ico .top_contactus .inner h1.logo{margin-left:226px}
	.inner{width:100%;}
	.gnbArea{height:auto;}
	.gnbArea h1.logo{display:none}
	.header h1.logo {padding-top:0}
	.header .gnb_cont{float:none;text-align:center;margin-top:0}
	.header .gnb_cont li{margin-left:10px}
	.header .gnb_cont li:first-child{margin-left:0px}
	.main_facial .cont_inner,
	.main_Distribution .cont_inner,
	.main_sns .cont_inner,
	.main_fond .cont_inner,
	.main_shopping .cont_inner{width:1024px}
	.login_name{float:none; margin:10px auto;}

	.main_facial .ent_cont h2{font-size:50px}
	.facial_cont1{width:100%}

	.main_Distribution .ent_cont h2{font-size:50px}
	.distri_cont1{padding-left:300px}

	.footer_cont{width:1024px;margin:0 auto}
}
@media only screen and (max-width : 800px) {
	.inner{width:100%;position:relative;}
	.top_contactus .inner h1.logo{display:block;margin-left:0px;text-align:left}
	.ico .top_contactus .inner h1.logo{margin-left:0px}
	.top_contactus .inner h1.logo a{display:block;margin-top:3px}
	
	.top_contactus .inner h1.logo .goto-ico {display:block;position:absolute;top:-8px;left:45%;}
	.top_contactus .inner h1.logo .goto-ico a {display:inline-block;padding:3px 5px;color:#fff;font-weight:normal;background-color:#ed5d00;font-size:12px;text-align:center;border-radius:4px;}
	.ico .top_contactus .inner h1.logo a{display:inline-block;}
	.top_contactus .inner h1.logo img{width:50%}
	.top_contactus .inner{padding:0 20px}
	.mo_menu{display:block;float:right;text-align:right}
	.mo_menu img{width:50%}
	.top_contactus{padding:15px 0 5px 0;height:auto}
	.top_contactus dl{display:none}

	.ico .top_contactus .inner h1.logo a:first-child{width:116px}
	.ico .top_contactus .inner h1.logo a:first-child img{width:116px}

	.ico .header .gnb_cont{float:none;margin-left:0px}
	
	.header .gnb_cont{font-size:13px}
	.gnbArea{height:auto;padding:6px 0px 15px 20px;background-color:#ddd;display:none}
	.header .gnb_cont{text-align:left;margin-left:0;margin-right:17px; padding-bottom: 5px;  border-bottom: 1px solid #777;}
	.header .gnb_cont li{margin:7px 0px; color:#141414; display:block;}
	.header .gnb_cont li a{padding:5px 0px; font-size:1.1em;}
	.login_name{width:100%; margin:0px; padding:10px 0px 0px; text-align:left;}
	.login_name li{padding:7px 20px 7px 0px; color:#141414; display:block;}

	.menu_close{display:block;text-align:center;background-color:#141414;margin-right:20px;line-height:30px;color:#fff;letter-spacing:8px;margin-top:10px}

	.main_vision .ent_cont{padding:80px 0}
	.vision_list{padding:0 25px}
	.vision_list li{float:none;width:100%;background-size:40px;font-size:15px;padding-left:55px;padding-right:0px;min-height:40px}
	.vision_list li + li{margin-top:25px}
	.vision_list li:nth-child(3){margin-top:25px}
	.vision_list li:nth-child(4){margin-top:25px}

	.ico .main_vision .summary{height:auto;background:url("../images/common/bg_ico_main01.jpg") no-repeat center top;background-size:cover;}
	.ico01_cont{text-align:center;color:#fff;padding-top:0px}
	.ico01_cont h2{font-size:48px;font-weight:normal}
	.ico01_cont_date{width:90%;margin:0 auto;background:url("../images/common/bg_tr.png") repeat center top;display:block;padding:18px 15px;margin-top:0}
	.ico01_cont_date .title,.ico01_cont_date .date_cont{display:block;width:100%;vertical-align:middle}
	.ico01_cont_date .title{font-size:30px;color:#959595;line-height:1em;margin-bottom:15px}
	.ico01_cont_date .date_cont li{display:inline-block;text-align:center}
	.ico01_cont_date .date_cont li span,.ico01_cont_date .date_cont li strong{display:block}
	.ico01_cont_date .date_cont li strong{font-size:24px;color:#ed6d00;font-weight:normal;line-height:1em;background:url("../images/common/bg_01.png") no-repeat left center;padding:0 15px;margin-top:10px}
	.ico01_cont_date .date_cont li:first-child strong{background:none}

	.ico02_cont{font-size:18px;color:#fff ;text-align:center;width:100%;margin: 0 auto;padding:18px 15px;}
	.ico02_cont h2{font-size:20px;font-weight:normal}
	.ico02_cont h2 span{display:block}
	.ico02_cont p{margin-top:25px;font-size:16px}
	.ico02_cont dl:after{content:'';display:block;clear:both}
	.ico02_cont dl{margin-top:20px}
	.ico02_cont dl dt{float:none;text-align:left;width:100%;padding-right:0px;color:#959595;font-size:16px}

	.ico02_cont dl dd{float:none;margin-top:15px;width:100%;}
	.ico02_cont dl dd + dt{margin-top:0;padding-top:0;}

	/* .ico02_cont dl dd + dt{margin-top:20px}
	.ico02_cont dl dd{float:none;margin-top:15px;}
	.ico02_cont dl dd ul{display:table;width:100%;color:#ed6d00;}
	.ico02_cont dl dd ul li{display:table-cell;width:20%;text-align:left}
	.ico02_cont dl dd ul li strong,.ico02_cont dl dd ul li span{display:block}
	.ico02_cont dl dd ul li strong{font-size:20px;font-weight:normal;padding-bottom:46px;text-align:left;}
	.ico02_cont dl dd ul li span{font-size:12px} */
	.btn_ico1{margin-top:30px}
	.btn_ico1 a{display:inline-block;border:solid 3px #959595;background-color:#000;line-height:50px;font-size:20px;border-radius:100px;padding:0 30px}

	.main_facial .cont_inner{width:100%}
	.main_facial .summary{color:#fff;font-size:15px;background:url("../images/common/bg_main02_mo.jpg") no-repeat left top;background-size:cover;height:auto;padding:10px 15px;}
	.main_facial .summary h2{font-size:30px ;color:#ed6d00;font-weight:normal;margin-bottom:20px}
	.main_facial .summary p{width:100%}
	.main_facial .summary p + p{margin-top:10px}
	.main_facial .ent_cont{background:#2b2b2b;height:auto;padding:60px 15px}
	.main_facial .ent_cont h2{font-size:30px;font-weight:normal;}
	.facial_cont1{width:100%;padding:303px 0 0 0;background:url("../images/common/icon_fa01.png") no-repeat center top;min-height:303px}
	.facial_cont1 p{margin-top:15px;font-size:15px}


	.ico .main_facial .summary{background:url("../images/common/bg_ico_main02.jpg") no-repeat center top;background-size:cover;height:auto;}

	.roadmap{text-align:left;background:url("../images/common/bg_bar2_r.png") repeat-y center top;max-width:100%}
	.roadmap li:nth-child(odd) strong{padding-left:40px;background:url("../images/common/icon_map02_r.png") no-repeat left 10px}
	.roadmap li:nth-child(odd) span{padding-left:40px;display:block}
	.roadmap li:nth-child(even){padding-left:0;padding-right:50%;text-align:right}
	.roadmap li:nth-child(even) strong{float:right;height:auto;padding-right:40px;background:url("../images/common/icon_map02_r.png") no-repeat right 10px}
	.roadmap li:nth-child(even) span{float:right;padding-right:40px}
	.roadmap li strong{color:#ed6d00;font-weight:normal;display:block;width:100px;float:none;}
	


	.main_Distribution{font-size:15px;}
	.main_Distribution .cont_inner{width:100%}
	.main_Distribution .summary{background:url("../images/common/bg_main04_mo.jpg") no-repeat right top;background-size:cover;height:auto;padding:60px 15px;}
	.main_Distribution .summary h2{font-size:30px ;font-weight:normal;margin-bottom:20px}

	.main_Distribution .ent_cont{color:#b7b7b7;background:#2b2b2b;height:auto;padding:60px 15px;}
	.main_Distribution .ent_cont h2{font-size:30px;font-weight:normal;}
	.distri_cont1{padding-left:0;text-align:left;font-size:15px}
	.distri_cont1 p{margin-top:15px;line-height:1.4em}

	.main_shopping{font-size:15px;}
	.main_shopping .cont_inner{width:100%}
	.main_shopping .summary{background:url("../images/common/bg_main06.jpg") no-repeat center top; background-size:cover;height:auto;padding:60px 15px}
	.main_shopping .summary h2{font-size:20px ;font-weight:normal;margin-bottom:20px;}
	.main_shopping .ent_cont{color:#b7b7b7;background:#2b2b2b;height:auto;padding:18px 15px;font-size:15px}
	.main_shopping .ent_cont h2{font-size:30px;font-weight:normal;}
	.shopping_cont1{width:100%}
	.shopping_cont1 p{margin-top:15px;line-height:1.2em}

	.ico .main_shopping .summary{background:#2b2b2b;height:auto;padding-top:50px;text-align:center;font-size:18px}
	.ico .main_shopping .summary h2{color:#fff;font-size:30px}
	.ico .main_shopping .summary p{margin-top:20px}

	.pointC01{color:#ed6d00 !important;}
	.develpers_cont1{padding-bottom:30px}
	.develpers_cont1 ul{text-align:center;margin-top:30px;font-size:14px}
	.develpers_cont1 ul li{display:block}
	.develpers_cont1 ul li a{display:block;border:solid 3px #959595;text-align:center;background:url("../images/common/bg_dep2.png") no-repeat center 45px #000;border-radius:10px;padding:125px 15px 30px 15px;}
	.develpers_cont1 ul li:first-child a{background-image:url("../images/common/bg_dep1.png")}
	.develpers_cont1 ul li + li{margin:15px 0 0 0}
	
	.main_sns{font-size:15px;}
	.main_sns .cont_inner{width:100%}
	.main_sns .summary{background:url("../images/common/bg_main07.jpg") no-repeat center top;background-size:cover;height:auto;padding:60px 15px}
	.main_sns .summary h2{font-size:30px ;font-weight:normal;margin-bottom:20px;color:#ed6d00}
	.sns_cont1{width:100%}
	.sns_cont1 p{margin-top:15px;}
	.main_sns .ent_cont{background-color:#2b2b2b;padding:60px 15px}
	.sns_cont2{background:none;padding:0;color:#b7b7b7}
	.sns_cont2 p{margin-top:15px}
	.btnType01{background-color:#ed6d00;color:#2b2b2b;display:inline-block;box-sizing:border-box;min-width:50px;text-align:center;padding:10px 20px}
	.btnType01 + .btnType01{margin-left:5px}

	.ico .main_sns .summary{background:none;height:auto;padding:0}

	.main_fond{color:#fff;font-size:15px;}
	.main_fond .cont_inner:after{content:'';display:block;clear:both}
	.main_fond .cont_inner{width:100%}
	.main_fond .summary{background:url("../images/common/bg_main08.jpg") no-repeat center top;background-size:cover;height:auto;padding:18px 0px 0px 15px}
	.main_fond .summary h2{font-size:30px ;font-weight:normal;margin-bottom:30px;color:#ed6d00}
	.fond_cont1{background:url("../images/common/img_pic1_mo.png") no-repeat right bottom;min-height:523px;padding-right:0px;padding-top:60px;padding-bottom:60px}
	.fond_cont1 p + p{margin-top:20px}
	.fond_cont1 p{padding-right:100px;text-shadow:1px 1px #000}
	.sign{margin-top:40px !important}
	.sign span{display:block;margin-top:10px}
	.sign span img{max-width:100%}

	.fond_cont2 {display:block;width:100%;overflow:hidden;padding:20px 15px}
	.fond_cont2 .img_zoom{display:block;vertical-align:middle;}
	.fond_cont2 .img_zoom > span{display:none;height:auto;overflow:hidden}
	.fond_cont2 .img_zoom > span img{max-width:100%}
	.fond_cont2 .img_zoom > span.on{display:block}
	.fond_cont2 ul{display:block;width:100%;vertical-align:middle;padding-top:10px; padding-left:0px;}
	.fond_cont2 ul li{float:left;padding:0px 0 10px 10px;width:25%}
	.fond_cont2 ul li img{max-width:100%}
	.found_para{display:none}
	.found_para span{display:block;margin-top:20px}

	.main_contactus{color:#fff;font-size:14px;text-align:center;border-bottom:solid 1px #4f4f4f;}
	.main_contactus .ent_cont {padding:18px 15px}
	.main_contactus .ent_cont h2{font-size:25px;color:#ed6d00;font-weight:normal;margin-bottom:10px}
	.main_contactus .ent_cont p span{display:block}


	.footer_sns{display:none}
	.footer{border-top:solid 1px #4f4f4f}
	.footer_cont{width:100%;margin:0 auto}
	.footer h1{font-size:16px;padding:0 15px}
	.wrap_footer_ent{display:block;width:100%;margin-top:0px}
	.wrap_footer_ent > div{display:block;padding:15px;}
	.footer_area2{border-width:1px 0 0 0;width:100%}
	.footer_store {text-align:center}
	.footer_store li{display:inline-block;width:32%;text-align:center}
	.footer_store li img {width:90%;}

	.wrap_footer_ent dl + dl{margin-top:15px}

	.footer_sns_mo{display:block;text-align:center;border-top:solid 1px #4f4f4f;padding:10px 0}
	.footer_sns_mo li{display:inline-block;padding:0 7px;text-align:center}
	.footer_sns_mo li img{width:31.5px;}

	.container{margin-top:43px}

	.cont_inner{width:100%}
	.main_vision .summary{height:auto;padding:25px 0;background:url('../images/common/bg_main01_mo.jpg') no-repeat center bottom;background-size:cover;}
	.vision_cont1{width:280px;float:none;text-align:left;background:url('../images/common/icon_main_vision1.png') no-repeat left center;background-size:auto 84px ;padding-top:0px;padding-left:100px;font-size:24px;line-height:1.4em;margin:0px auto;min-height:84px;}
	.vision_cont1 span{display:block}
	.vision_cont2 p{display:none}
	.vision_cont2{float:none;text-align:center;width:100%}
	.vision_cont2 li {display:inline-block;width:30%;/* padding:0 5px 0 5px; */text-align:center}
	.vision_cont2 li:first-child {text-align:right}
	.vision_cont2 li:last-child {text-align:left}
	.vision_cont2 li img{width:75%;max-width:100%}

	
	.coin_icon_set img {margin:0 5px;}

	.step-state ul li {font-size:15px;}
	.step-state ul li span {font-size:12px;}

	.other_contain {padding:20px 0 50px 0;}
	.other_contents .pointC01 {display:inline-block;}

	

}


@media only screen and (max-width : 630px) {
	.roadmap{max-width:600px}
	.other_contents{padding:0 15px}
	.btn_area li{margin:0 0 10px 0 }
	.tab_content{padding:18px 15px}
}

@media only screen and (max-width : 500px) {
	.roadmap{max-width:570px}
	.layerpopup_cont{max-width:100%;background-color:#fff;border-radius:10px;padding:20px 15px;margin:0 auto;text-align:center;font-size:18px;color:#000}
	.pop_input input{width:100%}
	.pop_btn a{width:100%}
}
@media only screen and (max-width : 420px) {
	.roadmap{max-width:330px}
}