@charset "utf-8";

@font-face {
 font-family:'SDMyungjo-Bold';
 /*font-style: normal;*/
 font-style: bold;
 src: url('/fonts/SDMyungjo-Bold.eot');
 src: url('/fonts/SDMyungjo-Bold.eot#iefix') format('embedded-opentype'),
 url('/fonts/SDMyungjo-Bold.woff') format('woff'),
 url('/fonts/SDMyungjo-Bold.ttf') format('truetype');
}