input {
	font-family: FontAwesome;
	text-decoration: inherit;
}

.image_block img {
	display: block;
}

.info_box {
	width: 100%;
	height: auto;
	display: none;
	background-color: white;
}

.deposit_btn {
	border-radius: 0.3em;
	border: solid 1px blue;
	height: 30px;
	color: blue;
	background-color: white;
	font-size: 16px;
}

.deposit_btn:hover {
	border-radius: 0.3em;
	border: solid 1px blue;
	height: 30px;
	color: white;
	background-color: blue;
	font-size: 16px;
}

.withdraw_btn {
	border-radius: 0.3em;
	border: solid 1px green;
	height: 30px;
	color: green;
	background-color: white;
	font-size: 16px;
}


.withdraw_btn:hover {
	border-radius: 0.3em;
	border: solid 1px green;
	height: 30px;
	color: white;
	background-color: green;
	font-size: 16px;
}