@charset "utf-8";

/*
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: normal;
   src: url(/com/font/notokr-regular.eot?#iefix) format('embedded-opentype'),
         url(/com/font/notokr-regular.woff2) format('woff2'),
        url(/com/font/notokr-regular.woff) format('woff'),
        url(/com/font/notokr-regular.ttf) format('truetype');
 }

 @font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: bold;
   src: url(/com/font/notokr-medium.eot?#iefix) format('embedded-opentype'),
         url(/com/font/notokr-medium.woff2) format('woff2'),
        url(/com/font/notokr-medium.woff) format('woff'),
        url(/com/font/notokr-medium.ttf) format('truetype');
 }
*/
/* ===Reset=== */
body.modal{overflow:hidden}
html, body{box-sizing:border-box;height:100%}
html{-ms-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;position:relative;}
body{font-size:14px;line-height:1.4em;background-color:#fff;color:#333; font-family:'Century Gothic',AppleGothic,"Apple SD Gothic Neo",Sans-serif;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,button,select,menu,footer,blockquote,optgroup{margin:0;padding:0;line-height:1.4em;box-sizing:border-box;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display: block;margin:0;padding:0;box-sizing:border-box;}
audio,canvas,progress,video{display: inline-block;vertical-align: baseline;box-sizing:border-box;}
div{box-sizing:border-box}
audio:not([controls]){display: none;  height: 0;}
[hidden],template{display: none;}
a{background-color: transparent;}
a:active,a:hover{outline: 0;}
b,strong{font-weight: bold;}
dfn{font-style: italic;}
h1, h2, h3, h4, h5, h6{ font-size: 1em;}
mark{background: #ff0;color: #000;}
small{font-size: 80%;}
sub,sup{font-size: 75%;line-height: 0;position: relative;vertical-align: baseline;}
img{border: 0;display:inline-block;vertical-align:top;}
svg:not(:root){overflow: hidden;}
figure{margin: 1em 40px;}
hr{box-sizing: content-box;height: 0;}
pre{overflow: auto;}
code,kbd,pre,samp{font-family: monospace, monospace;font-size: 1em;}
iframe{border:0}
button{overflow: visible;}
button,select{text-transform: none;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance: button;cursor: pointer;}
button[disabled],html input[disabled]{cursor: default;}
button::-moz-focus-inner,input::-moz-focus-inner,legend{border: 0;padding: 0;}
input{line-height: normal;}
input[type="checkbox"],input[type="radio"]{box-sizing: border-box;padding: 0;}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height: auto;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance: none;}
textarea{overflow: auto;}
ul,ol,li{list-style:none}
em,address{font-style:normal}
a{color:inherit;text-decoration:none}
a:hover, a:active, a:focus{text-decoration:none}
.btn.focus, .btn:focus, .btn:hover{outline:none;}
table{border-collapse:collapse;border-spacing: 0;}

caption{height: 0; overflow: hidden; font-size: 0; line-height: 0; text-indent: -20000px;}

/* ===Form default style=== */
input[type=text],
input[type=password],
input[type=tel],
input[type=number],
input[type=date],
input[type=email], 
input[type=search]{border:solid 1px #dbdbdb;padding:9px 5px 9px 5px;background-color:#fff}
input[type=radio],
input[type=checkbox]{margin-right:0.2em;vertical-align:middle;display:inline-block}
textarea{border:solid 1px #dbdbdb;padding:0.5em 0.4em;background-color:#fff}
select {color: #333; font-size: 14px;padding:7px 7px 7px 10px;border:solid 1px #dbdbdb; /*-webkit-appearance: none;-moz-appearance: none; appearance: none; background: url('/pc/img/common/icon_select.png') no-repeat right center;*/}
:root select{padding-right:10px\0/IE9;}
select::-ms-expand { display: none;}
input + label{margin-left:3px}
input[type=radio] + label,
input[type=checkbox] + label{margin-right:0.5em}
input[type=checkbox]{margin-right:0.1em}

/* Form inactive */
input[disabled=disabled], select[disabled=disabled],
input[disabled], select[disabled],
input[readonly=readonly], select[readonly=readonly]{background-color:#f0f0f0 !important;border:solid 1px #aaa !important;color:#999 !important}
input[type=radio]:disabled{background:none !important;border:1px #aaa solid !important;border-radius:100px;color:#242424 !important;opacity:0.5 !important;width:1em;height:1em;}

table td ::-moz-placeholder{font-size:1em;line-height:1.3em}
table td ::-webkit-input-placeholder{font-size:1em;line-height:1.3em}

input[type=password]::-moz-placeholder,
input[type=text]::-moz-placeholder{padding-bottom:0.6em; line-height:1.5em; color:#aaa;}
input[type=password]::-webkit-input-placeholder,
input[type=text]::-webkit-input-placeholder{padding-bottom:0.6em; line-height:1.5em; color:#aaa;}

input[type=text]::-moz-placeholder{font-size:18px;line-height:1.5em; color:#aaa;}
input[type=text]::-webkit-input-placeholder{font-size:18px;line-height:1.5em;color:#aaa}
input[type=text]:-ms-input-placeholder { /* Internet Explorer 10-11 */color:#aaa;}
input[type=text]::-ms-input-placeholder { /* Microsoft Edge */color:#aaa;}
input[type=password]::-moz-placeholder{font-size:18px;line-height:1.5em; color:#aaa;}
input[type=password]::-webkit-input-placeholder{font-size:18px;line-height:1.5em;color:#aaa}
input[type=password]:-ms-input-placeholder { /* Internet Explorer 10-11 */color:#aaa;}
input[type=password]::-ms-input-placeholder { /* Microsoft Edge */color:#aaa;}
input[type=email]::-moz-placeholder{font-size:18px;line-height:1.5em; color:#aaa;}
input[type=email]::-webkit-input-placeholder{font-size:18px;line-height:1.5em;color:#aaa}
input[type=email]:-ms-input-placeholder { /* Internet Explorer 10-11 */color:#aaa;}
input[type=email]::-ms-input-placeholder { /* Microsoft Edge */color:#aaa;}

select, input[type="text"], input[type="password"], input[type="checkbox"], input[type="date"], input[type="tel"]{vertical-align:middle;}
input+span{vertical-align:middle;}


.wbKa{word-break:keep-all;}
.wbba{word-break:break-all;}
table.wbba tr td{white-space:normal !important;}

input.num{text-align:right;}
.hide{display:inline-block;position:absolute;left:-99999px}
.hide_title{display:block;position:absolute;left:-9999px;top:-9999px;width:1px;height:1px;overflow:hidden}
.none{display:none !important}
.disb{display:block !important}
.disIn{display:inline !important}

.pointC01{color:#007dc6 !important}
.w100p{width:100%}
.textA01{width:100%;height:120px}

body{font-family: Arial, Helvetica, sans-serif;}

/* position */
.floatL{float:left;}
.floatR{float:right;}
.alignL{text-align:left !important;}
.alignC{text-align:center !important;}
.alignR{text-align:right !important;}
.verT{vertical-align:top !important;}
.verM{vertical-align:middle !important;}
.verB{vertical-align:bottom !important;}
.overH{overflow:hidden !important}
.cl{clear:both;}

/* margin */
.mgT0{margin-top:0px !important;}
.mgT5{margin-top:5px !important;}
.mgT3{margin-top:3px !important;}
.mgT7{margin-top:7px !important;}
.mgT10{margin-top:10px !important;}
.mgT15{margin-top:15px !important;}
.mgT20{margin-top:20px !important;}
.mgT25{margin-top:25px !important;}
.mgT30{margin-top:30px !important;}
.mgT35{margin-top:35px !important;}
.mgT40{margin-top:40px !important;}
.mgT45{margin-top:45px !important;}
.mgT50{margin-top:50px !important;}
.mgT60{margin-top:60px !important;}

.mgB0{margin-bottom:0px !important;}

.pdT0{padding-top:0 !important;}

/* border init */ 
.bdNone{border:0 !important;}


.download-svg {
          height: 60px;
        }
      #particles-js{ 
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
    height: 675px;
    left: 0;
    z-index: 0;
    } 
  .mt-5
{
    color: #efefef;
  font-size:40px;
  }
  .lead{
    color: #efefef;
    font-size:16px;
  }


/* form width */
.se_all{width:100%;}
.input_all{width:100% !important;}
textarea.input_all{width:100% !important;height:240px}
.input_m{width:85% !important;}
.input_m1{width:75% !important;}
.input_m2{width:50% !important;}
.input_s{width:25% !important;;}

.fwN{font-weight:normal !important;}
.fwB{font-weight:bold !important;}

.ls00{letter-spacing:0px;}
.ls01{letter-spacing:-1px;}
.ls02{letter-spacing:-2px;}

/* 폰트 색상 */
.ico-color {color:#ed6d00 !important;}

/* Layout */
body.main{background-color:#141414}
#wrap{height:100%}
.inner{width:94%/* 1200px */;margin:0 auto}
.inner:after{content:'';display:block;clear:both}
.header{background-color:#141414; background-color: rgba(20, 20, 20, 0.85);}
.header{position:fixed;left:0;top:0;;z-index:999;width:100%; transition: all 0.8s;}
.header:after{content:'';display:block;clear:both}
.top_contactus{text-align:right;border-bottom:solid 1px #353535;height:38px;padding-top:10px}
.top_contactus dl{float:right;}
.top_contactus dl dt{float:left;color:#bdbdbd;line-height:17px; font-weight:normal;}
.top_contactus dl dd{float:left}
.top_contactus .inner h1.logo .goto-ico {display:none;}

.lang_group{display:block; margin-left:130px; line-height:1.7}
.lang {float: left; margin-left: 10px; color: #fff;}
.on {color: orange;}
.footer_term{
	
border-top:0.5px solid #353535;
	height:auto;
	padding:1.5%;

}

.footer_term span {
	
	color:#fff;
}

.footer_term h1 {
	
	margin-top:1px;

}

.contact_us img {margin:0 5px;}

.header h1.logo{float:left;padding-top:28px}
.header h1.logo a{display:inline-block;}
.header h1.logo a + a{margin-left:10px}
.gnbArea{height:73px}
.header .gnb_cont{float:right;color:#fff;font-size:15px;margin-top:18px}
.header .gnb_cont li{display:inline-block;margin-left:18px}
.header .gnb_cont li a{display:block;padding:10px 0}
.header .gnb_cont li a:hover{color:#ed6d00}
.header .gnb_cont li a.current{color:#ed6d00}

.footer{padding:24px 0 6px 0}
.footer_cont{width:1200px;margin:0 auto}
.footer h1{font-size:24px;color:#fff;font-weight:normal}
.wrap_footer_ent{display:table;width:100%;margin-top:18px}
.wrap_footer_ent > div{display:table-cell;vertical-align:middle;}
.footer_area2{border:solid 1px #4f4f4f;border-width:0 1px;padding:0 0 0 25px;width:613px}
.footer_area3{padding:0 0 0 17px}
.footer_store li{margin-bottom:7px}

.footer_sns{margin-top:15px}
.footer_sns li{display:inline-block}

.wrap_footer_ent dt{color:#fff;font-size:14px}
.wrap_footer_ent dd{color:#95867c;font-size:12px}

.container{display:table;width:100%;min-height:500px;margin-top:113px; padding:0px;}
.notice {
    border: 2px solid #dedede;
    width:30%;
    background-color: #222;
    border-radius: 5px;
    padding: 10px;
    margin-left: 0.5%;
  margin-bottom:30%;
  margin-top:25%;
  color:#fff;
  display:inline-block;
  z-index:99;
 position:fixed;


}
.cont_inner:after{content:'';display:block;clear:both}
.cont_inner{width:1024px;margin:0 auto}

.main_vision{}
.main_vision .summary{height:662px;background:url("../images/common/bg11.jpg") no-repeat center top;background-size:cover;}
.vision_cont1{float:left;text-align:center;background:url('../images/common/icon_main_vision1.png') no-repeat center top;background-size:123px;padding-top:140px;font-size:36px;color:#fff;
                      font-weight:bold; text-shadow:1px 1px 1px #777; line-height:1.4em;margin-top:140px}
.vision_cont2{float:right;text-align:center;}
.vision_cont2 p{font-size:24px;line-height:40px;color:#fff;margin-top:140px}
.vision_cont2 ul{margin-top:50px}
.vision_cont2 li{display:inline-block}
.main_vision .ent_cont{background-color:#2b2b2b;color:#fff;font-size:18px;padding:80px 0}
.vision_list{}
.vision_list li{float:left;width:50%; background:url("../images/common/icon_vision1.png") no-repeat left top;min-height:80px;padding:0 15px 0 98px;}
.vision_list li:nth-child(2){background-image:url("../images/common/icon_vision2.png")}
.vision_list li:nth-child(3){background-image:url("../images/common/icon_vision3.png");margin-top:50px}
.vision_list li:nth-child(4){background-image:url("../images/common/icon_vision4.png");margin-top:50px}

.ico .main_vision .summary{height:562px;background:url("../images/common/bg_ico_main01.jpg") no-repeat center top;}
.ico01_cont{text-align:center;color:#fff;padding-top:55px}
.ico01_cont h2{font-size:48px;font-weight:normal}
.ico01_cont_date{width:1024px;margin:0 auto;background:url("../images/common/bg_tr.png") repeat center top;display:table;padding:50px 0;margin-top:50px}
.ico01_cont_date .title,.ico01_cont_date .date_cont{display:table-cell;width:50%;vertical-align:middle}
.ico01_cont_date .title{font-size:60px;color:#959595;line-height:1em}
.ico01_cont_date .date_cont li{display:inline-block;text-align:center}
.ico01_cont_date .date_cont li span,.ico01_cont_date .date_cont li strong{display:block;font-size:14px}
.ico01_cont_date .date_cont li strong{font-size:48px;color:#ed6d00;font-weight:normal;line-height:1em;background:url("../images/common/bg_01.png") no-repeat left center;padding:0 15px;margin-top:10px}
.ico01_cont_date .date_cont li:first-child strong{background:none}

.ico02_cont{font-size:18px;color:#fff ;text-align:center;}
.ico02_cont h2{font-size:36px;font-weight:normal; margin-bottom:30px;}
.ico02_cont p{margin-top:0px}
.ico02_cont .prog_txt{margin-top:30px;}

.ico02_cont dl:after{content:'';display:block;clear:both}
.ico02_cont dl{margin-top:10px}
.ico02_cont dl dt{float:left; width:30%; text-align:right; padding-top:20px;padding-right:30px;color:#959595; font-weight:normal;}


.ico02_cont dl dd{float:right;position:relative;width:70%;}
.ico02_cont dl dd + dt{margin-top:35px}

/* 
.ico02_cont dl dd{float:right;position:relative;}
.ico02_cont dl dd .ico_bar{position:absolute;background-color:#ed6d00;left:0px;top:47px;height:5px}
.ico02_cont dl dd + dt{margin-top:45px}
.ico02_cont dl dd ul{display:table;width:638px;color:#ed6d00;}
.ico02_cont dl dd ul li{display:table-cell;width:16.66%;text-align:left}
.ico02_cont dl dd ul li strong,.ico02_cont dl dd ul li span{display:block}
.ico02_cont dl dd ul li strong{font-size:30px;font-weight:normal;padding-bottom:46px}
.ico02_cont dl dd ul li span{font-size:14px} */

.btn_ico1{margin-top:60px}
.btn_ico1 a{display:inline-block;border:solid 3px #ed6d00;background-color:#ed6d00;line-height:70px;font-size:24px;border-radius:100px;padding:0 35px; cursor:pointer;}
.btn_ico1 a:hover,.btn_ico1 a:focus,.btn_ico1 a:active{color:#fff;}

.main_facial{color:#b7b7b7;font-size:18px}
.main_facial .cont_inner{width:1200px}
.main_facial .summary{color:#fff;font-size:18px;background-size:cover;height:auto;padding-top:60px;}

.main_facial .summary h2{font-size:60px ;color:#ed6d00;font-weight:normal;margin-bottom:50px}
.main_facial .summary p{width:650px}
.main_facial .summary p + p{margin-top:25px}
.main_facial .ent_cont{background:url("../images/common/bg_main03.jpg") no-repeat center top;background-size:cover;height:auto;padding-top:67px}
.main_facial .ent_cont h2{font-size:60px;font-weight:normal;color:#ed6d00;}
.facial_cont1{width:1112px;padding:0 0 0 440px;background:url("../images/common/icon_fa01.png") no-repeat 40px top;min-height:303px}
.facial_cont1 p{margin-top:15px}

.close {
    color: #fff;
	opacity:1;
}
.close2 {
    color: #fff;
	float:right;
	opacity:1;
	text-decoration:bold;
	


}


.ico .main_facial{text-align:center}
.ico .main_facial .summary{background:url("../images/common/bg_ico_main02.jpg") no-repeat center top;height:713px;}
.ico .main_facial .summary2{background:url("../images/common/bg_ico_main02.jpg") no-repeat center top;height:713px;}
.ico .main_facial h2{font-size:48px;color:#fff}
.roadmap{text-align:left;background:url("../images/common/bg_bar2_r.png") repeat-y center top;width:100%}
.roadmap li:after{content:'';display:block;clear:both}
.roadmap li{padding-left:50%;background:url("../images/common/icon_map01_r.png") no-repeat center top;width:100%}
.roadmap li:nth-child(odd) strong{padding-left:40px;background:url("../images/common/icon_map02_r.png") no-repeat left 10px}
.roadmap li:nth-child(even){padding-left:0;padding-right:50%;text-align:right}
.roadmap li:nth-child(even) strong{float:right;height:2.5em;padding-right:40px;background:url("../images/common/icon_map02_r.png") no-repeat right 10px}
.roadmap li strong{color:#ed6d00;font-weight:normal;display:block;width:140px;float:left;}
.roadmap li span{word-break:break-word}

.button1 {
  display: inline-block;
  border-radius: 15px;
  background-color: #ed6d00;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 12px;
  padding: 0px;
  width: 100px;
  height:25px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button1 span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 1s;
}



.time-right {
    float: left;
    color: red;
}

.button1 span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 1s;
}

.button1:hover span {
  padding-right: 25px;
}

.button1:hover span:after {
  opacity: 1;
  right: 0;
}

.main_Distribution{font-size:18px;color:#fff}
.main_Distribution .cont_inner{width:1200px}
.main_Distribution .summary{height:auto;padding-top:50px}
.main_Distribution .summary h2{font-size:60px ;font-weight:normal;color:#ed6d00;margin-bottom:50px}
.main_Distribution .ent_cont{color:#b7b7b7;background:url("../images/common/bg_main05.jpg") no-repeat center top;background-color:#2b2b2b;/* height:407px; */padding-top:40px;padding-bottom:60px;}
.main_Distribution .ent_cont h2{font-size:60px;font-weight:normal;color:#ed6d00;}
.distri_cont1{padding-left:435px;text-align:right;font-size:18px}
.distri_cont1 p{margin-top:15px;line-height:1.2em}

.main_shopping{color:#fff;font-size:18px;}
.main_shopping .cont_inner{width:1200px}
.main_shopping .summary{background:url("../images/common/bg_main06.jpg") no-repeat center top;background-size:cover;background-attachment:fixed;height:auto;padding-top:70px}
.main_shopping .summary h2{font-size:36px ;font-weight:normal;margin-bottom:30px;color:#ed6d00}
.shopping_cont1{width:890px}
.shopping_cont1 p{margin-top:15px;line-height:1.2em}
.main_shopping .ent_cont{color:#b7b7b7;background:url("../images/common/bg_main05.jpg") no-repeat center top;height:407px;padding-top:40px}
.main_shopping .ent_cont h2{font-size:60px;font-weight:normal;}

.ico .main_shopping .summary{background:#2b2b2b;height:auto;padding-top:50px;text-align:center;font-size:18px}
.ico .main_shopping .summary h2{color:#fff}
.ico .main_shopping .summary p{margin-top:20px}
.pointC01{color:#ed6d00 !important;}
.develpers_cont1{padding-bottom:30px}
.develpers_cont1 ul{text-align:center;margin-top:30px}
.develpers_cont1 ul li{display:inline-block}
.develpers_cont1 ul li a{display:block;border:solid 3px #959595;text-align:center;background:url("../images/common/bg_dep2.png") no-repeat center 45px #000;border-radius:10px;padding:125px 20px 30px 20px;}
.develpers_cont1 ul li:first-child a{background-image:url("../images/common/bg_dep1.png")}
.develpers_cont1 ul li + li{margin-left:50px}

.main_sns{color:#fff;font-size:18px;}
.main_sns .cont_inner{width:1200px}
.main_sns .summary{background:url("../images/common/bg_main07.jpg") no-repeat center top;background-size:cover;height:auto;padding-top:40px}
.main_sns .summary h2{font-size:60px ;font-weight:normal;margin-bottom:30px;color:#ed6d00}
.sns_cont1{width:730px}
.sns_cont1 p{margin-top:40px;}
.main_sns .ent_cont{background-color:#2b2b2b}
.sns_cont2{background:url("../images/common/bg_sns1.png") no-repeat 45px center;padding:40px 0 60px 388px;color:#b7b7b7}
.sns_cont2 p{margin-top:15px}
.btnArea{margin-top:25px}
.btnType01{background-color:#ed6d00;color:#fff;display:inline-block;box-sizing:border-box;min-width:150px;text-align:center;padding:13px 30px}
.btnType01:hover{color:#fff; background-color:#ed9600;}
.btnType01 + .btnType01{margin-left:15px}

.ico .main_sns .summary{padding-top:0}

.main_fond{color:#fff;font-size:18px;}
.main_fond .cont_inner:after{content:'';display:block;clear:both}
.main_fond .cont_inner{width:1200px}
.main_fond .summary{background:url("../images/common/bg_main08.jpg") no-repeat center top;/* height:562px; */background-size:100% 120%;}
.main_fond .summary h2{font-size:60px ;font-weight:normal;margin-bottom:30px;color:#ed6d00}
.fond_cont1{background:url("../images/common/img_pic1.png") no-repeat right bottom;min-height:523px;padding-right:450px;padding-top:40px;padding-bottom:40px;}
.fond_cont1 p + p{margin-top:20px}
.sign{margin-top:40px !important}
.sign span{display:block;margin-top:10px}

.fond_cont2 {display: table; width: 100%; overflow: hidden;}
.fond_cont2 .img_zoom{display:table-cell;vertical-align:middle;}
.overflowTest {margin-left: 0px; color: white; width: 80%; height: 500px; overflow-y: scroll;}
.fond_cont2 .img_zoom > span{display:none; height:580px; overflow:hidden}
.fond_cont2 .img_zoom > span img{max-width:100%}
.fond_cont2 .img_zoom > span.on{display:block}
.fond_cont2 ul{/* display:table-cell; */width:414px;vertical-align:top;padding-top:10px}
.fond_cont2 ul li{float:left;padding:0px 0 10px 10px}
.fond_cont2 ul.img_thumb li img {/*width:85px;*/}
.found_para{padding:50px 0}
.found_para span{display:block;margin-top:20px}

.main_contactus{color:#fff;font-size:14px;text-align:center;border-bottom:solid 1px #4f4f4f;}
.main_contactus .ent_cont {padding:50px 0 80px 0}
.main_contactus .ent_cont h2{font-size:48px;color:#ed6d00;font-weight:normal;margin-bottom:20px}
.main_contactus .ent_cont p span{display:block}


.fa {
padding:20px;
  position: relative;
  top: -110px;
  left: -135px;
  display: inline-block;
  background: #444444;
  border-radius:100px;
  font-size: 16px;
  border:1px solid white;

}


.fa-linkedin {
  background: #007bb5;
  color: white;
  
}




/* style ICO */
.header .gnb_cont{float:left;margin-left:0px}
.header .gnb_cont li a.current{color:#ed6d00;/* f49ac1 */}
.header .gnb_cont li a:hover{color:#ed6d00;/* f49ac1 */}
.logtxt_pc{float:right; margin-top:25px; text-align:center;}
.logtxt_pc li{color:#fff; padding:5px 10px 10px; display:inline-block;}
.logtxt_pc li a{display:block;}
.logtxt_pc li a:hover{color:#ed6d00;}

.login_name{float:right; margin-top:25px; margin-bottom:10px; text-align:center;}
.login_name li{color:#fff; padding:5px 6px 10px; display:inline-block;}
.login_name li a{display:block;}
.login_name li a:hover{color:#ed6d00;}

.wrap_notice{position:fixed;left:0;top:0;width:100%;height:100%;background:url("../images/common/bg_layerpopup.png") repeat left top;z-index:1001;overflow:auto;display:none; padding-top:150px;}
.wrap_layerpopup{/*position:fixed;left:0;top:0;width:100%;height:100%; display:table;*/ width: 600px; margin: 0 auto; }
.pop_inner{/*display:table-cell;height:100%;vertical-align:middle;padding:0 15px*/ width:100%;}
.layerpopup_cont{position:relative;max-width:600px;background-color:#fff;border-radius:10px;padding:20px 50px 40px 50px;margin:0 auto;text-align:center;font-size:18px;color:#000}
.layerpopup_cont .close{opacity:0.6;}
.popClose{display:block;text-align:right}
.layerpopup_cont h1{font-size:24px;font-weight:normal}
.layerpopup_cont p{margin-top:20px}
.pop_form{padding:5px 0px 0px;}
.pop_input{margin-top:20px}
.pop_input.word{word-break:break-all;}
.pop_input.word .wallet_txt{padding:5px 0px;}
.pop_input.word .title{font-size:1.3em; color:#ffa00c;}
.pop_input input{border:3px solid #000;border-radius:100px;box-sizing:border-box;width:290px;;padding-right:20px;padding-left:20px;font-size:18px; color:#5a5a5a; outline:none; box-shadow: inset 0px 0px 8px #888;}
.pop_btn{margin-top:20px; background:transparent; width:290px; border:none; outline:none;}
.pop_btn a{display:inline-block;border-radius:100px;box-sizing:border-box; display:block;background-color:#ed6d00;line-height:54px; height:52px; color:#fff; font-size:17px; border:1px solid #ccc;}
.pop_btn a:hover{background-color:#8c4101;}
.pop_btn2 a{line-height:52px}
.last_step{text-align:left;background:url("../images/common/bg_mail01.png") no-repeat center 25px;padding-top:80px}
.last_step + p{text-align:left;}
.pop_btn_close {margin-top:20px}
.pop_btn_close a{display:inline-block;background-color:#6b6b6b;color:#fff;border-radius:100px;box-sizing:border-box; line-height:49px;min-width:150px}

#wrap_other{max-width:1200px;margin:0 auto;padding:0 2% 40px;}
/*#wrap_other h1{padding:45px 0 25px;}*/
.other_contain h1{font-size:32px; font-weight:normal; padding:0px 0px 20px 30px;}
.other_contain{border: solid 1px #777; padding: 60px 76px; font-size: 18px; color: #fff; background: rgba(20, 20, 20, 0.8); box-shadow: 1px 1px 4px #333;}
.other_tab{text-align:center; padding:30px 0px;}
.other_tab button{margin:0px 5px; border-radius:4px; color:#fff; background:#aaa; border:none; padding:12px; font-size:16px; width:300px; overflow:hidden; outline:none;}
.other_tab button:hover{background:#f9910c; color:#fff;}
.other_tab button.btn_on{background:#f9910c;}

.other_contain.Progress{padding:60px 0px;}
.other_contain h2{font-size:30px;color:#fff;font-weight:normal;margin-bottom:20px}
.other_contain h2.crowd{font-size:28px;padding:10px 40px;}
.other_contain h2 > span{border-bottom:solid 2px #ed6d00}
.with_btn{border-radius: 100px; box-sizing:border-box; background-color:#ed6d00; line-height:37px; text-align: center; color: #fff; font-size:18px; outline:none;
                  padding:0 30px; min-width:130px; margin-left:5px;}
.with_btn:hover{background-color:#8c4101; color:#fff;}
.with_btn:active,.with_btn:focus{background-color:#8c4101; color:#fff;}
.qr_space{background:#fff; padding:20px; display:inline-block; margin:0px;}
.other_contain .addtitle{font-weight:bold;}
.other_contain .addvalue{word-break:break-all;}

.other_contain h3{font-size:28px;font-weight:normal;margin:15px 0px;color:#fff}
.other_contain .explain{color:#999; margin:10px 0px;}
.other_contain .explain .line{display:block;}
.other_contents{padding:0 20px}
.other_contents.service{padding:0px 40px;}
.service .servline{padding:10px 20px 20px 0px; display:inline-block;}
input.other_input{border:1px solid #000;border-radius:100px;box-sizing:border-box;padding-right:20px;padding-left:20px;font-size:18px}
.pointC02{color:#ed6d00; margin:0px 0px 20px;}
.btn_area{margin-top:18px;}
.btn_area li{display:inline-block;margin-left:0px}
.btn_area li:first-child strong{display:inline-block; background:url("../images/common/icon_other01.png") no-repeat right center;padding-right:50px;line-height:36px;}
.btn_area li strong{display:inline-block; background:url("../images/common/icon_other02.png") no-repeat right center;padding-right:50px;line-height:36px;}
.btn_area li >div{margin-top:10px}
.btn_area li a{display:inline-block;border-radius:100px;box-sizing:border-box;width:290px;background-color:#ed6d00;line-height:50px;text-align:center;color:#fff}
.btn_area li  a:hover{background-color:#8c4101; color:#fff;}
/*.other_contents + .other_contents{border-top:solid 1px #b8b8b8;margin-top:50px}*/
.btn_more{margin-top:20px}
.btn_more a{display:inline-block;border-radius:100px;box-sizing:border-box;background-color:#ed6d00;line-height:36px;text-align:center;color:#fff;font-size:14px;padding:0 15px;min-width:130px}
.input_half{display:table;width:100%;margin-top:25px;}
.input_half > span{display:table-cell}
.input_half > span input{width:100%}
.input_half .input_half_btn{width:175px;text-align:right;}
.input_half .input_half_btn a{display:inline-block;border-radius:100px;background-color:#ed6d00;padding:0 15px;line-height:41px;color:#fff;min-width:120px;text-align:center}
.wrap_input {border:1px solid #000;border-radius:100px;box-sizing:border-box;padding:9px 10px;font-size:18px;line-height:41px}
.wrap_input input{width:75%;border:0; color:#555;}
.btn_view{display:inline-block;border-radius:100px;box-sizing:border-box;background-color:#ed6d00;line-height:37px;text-align:center;color:#fff;font-size:18px;padding:0 25px;
                min-width:130px; margin-left:5px;}
.btn_view:hover{background-color:#8c4101; color:#fff;}
/* .help{margin-top:60px;display:table;width:100%}
.help dt,.help dd{display:table-cell;}
.help dt em{display:inline-block;border:solid 3px #c5c5c5;width:27px; height:27px;text-align:center;border-radius:100px;line-height:27px}
.help dt span{font-size:30px} */

.help{margin-top:60px;display:table;width:100%}
.help dt,.help dd{float:left;}
.help dt{font-size:30px;background:url("../images/common/icon_help.png") no-repeat left 5px;padding-left:42px ;margin-right:50px}
.help dd{border-left:solid 1px #c5c5c5;padding-left:40px;font-size:18px}
.btn_set .other_input,
.btn_set .wrap_input{display:inline-block;line-height:46px;padding-top:0px;padding-bottom:0px;;margin-bottom:5px;width:260px}

.other_copy{margin:50px 15px 30px 15px;font-size:17px; text-align:center; color:#fff;}
.other_copy a{color:#ed6d00}

.tabType01{padding:20px 0px 0px;}
.tabType01 li{display:inline-block;font-size:24px}
.tabType01 li a{display:block;padding-bottom:24px; color:#999;}
.tabType01 li + li{margin-left:15px}
.tabType01 li.on a{background:url("../images/common/icon_tab1.png") no-repeat 30px bottom;;color:#ed6d00;}

.tab_content{border:solid 2px #ed6d00;padding:50px 80px;}
.tab_content > strong{font-size:24px;font-weight:normal}

.sel_01{width:100%;border:solid 1px #d5d5d5;border-width:0 0 1px 0}

.coin_icon_set img {margin:0 15px;}


/*other_bg*/
.other_bg{
 padding:150px 0px 20px;
 background:#2b2b2b;
 background: url(../images/common/bg_main08_rere.jpg) no-repeat center top;
  background-size: cover;
  background-attachment: fixed;
}

/*purchase*/
.nolist_txt{text-align:center; color:#fff; font-size:17px; background:transparent; padding:30px 0px 20px;}
.Purchase_box{width:660px; margin:20px auto;background-color: #555; border: 1px solid #ddd; font-size: 15px;}
.Purchase_box .pur_line{width:100%;}
.pur_line .pur_half{width:50%; float:left; border-bottom:1px solid #ddd;}
.pur_line .pur_half:first-child{border-right:1px solid #ddd;}
.pur_line .pur_half dt{padding:12px; background-color: #555; border-bottom:1px solid #ddd;}
.pur_line .pur_half dd{padding:12px; background-color: #555;}
.pur_line .pur_half dd input{width:86%; margin:0 auto; border: solid 1px #dbdbdb; padding: 9px 5px 9px 5px; background-color: #fff; color:#5a5a5a;}
.Purchase_box .delete_line{padding:12px; background-color: #555; clear:both;}

.Txid_box{width:700px; margin:20px auto;background-color: #333; border: 1px solid #ddd; font-size:16px; padding:20px 20px 17px;}
.Txid_box input{padding:5px; width:320px; color:#5a5a5a; margin-left:10px;}
.Purchase_list{width:740px; margin:20px auto;background-color: #555; font-size: 15px;}
.Purchase_list table{width:100%; word-break:break-word;}
.purchase_table th{text-align:center; padding:14px 10px 12px; font-weight:normal; border: 1px solid #ddd;}
.purchase_table thead th{background-color:#333;}
.purchase_table thead th:nth-child(1){width:8%;}
.purchase_table thead th:nth-child(3){width:30%;}
.purchase_table thead th:nth-child(4){width:17%;}
.purchase_table thead th:nth-child(5){width:17%;}
.purchase_table thead th:last-child{width:13%;}
.purchase_table td{text-align:right; padding:14px 10px 12px; border: 1px solid #ddd}
.purchase_table td:nth-child(2){text-align:left;}
.purchase_table td:nth-child(3){text-align:left;}
.purchase_table td:last-child{text-align:center;}
.purchase_table td .addbtn{width:26px; height:24px; border:none; border-radius:3px; background:#ed6d00; font-weight:bold; line-height:1.6; margin:3px;}
.purchase_table td .addbtn:hover{background:#bd4002;}
.purchase_table td .addbtn i{font-size:18px;}
.purchase_table td .addicon{padding:6px 0px 0px; float:right; background:transparent; border:none;}
.purchase_table td .addicon:hover i{color:#bd4002;}
.purchase_table td .addicon i{font-size:21px; color:#ed6d00;}
.purchase_table td .addicon .fa-times{margin-right:1px;}
.purchase_table td .pur_write01{padding:5px; width:84%; color:#5a5a5a;}
.purchase_table td .pur_write02{padding:5px; width:100%; color:#5a5a5a;}

.purchase_table .member_record{padding:12px 0px 0px; margin-top:10px;}
.purchase_table .member_record:first-child{padding:0px; margin:0px;}
.purchase_table .member_record + .member_record{border-top:1px solid #aaa;}
.member_record dt{display:inline-block; padding:10px 0px 0px; color:#f9910c;}
.member_record dt:first-child{padding:0px;}
.member_record dd{display:inline-block;}

.Total_line{width:700px; margin:15px auto; overflow:hidden; background:transparent; padding:14px 0px 12px; border-top:1px solid #777; border-bottom:1px solid #777;}
.Total_line dl{width:100%;}
.Total_line dt{float:left; width:18%; text-align:left; font-weight:normal;}
.Total_line dd{margin-left:18%; width:82%; text-align:right; display:table;}
.Total_line .total{width:50%; display:table-cell; overflow:hidden; font-size:1.1em;}
.Total_line .total .name{color:#ed6d00;}
.Purchase_group{width:700px; margin:30px auto 20px;}


/* state bar */
.step-box {/* padding:0 10px 10px 10px; */background:#2b2b2b;}
.step-box.prog{background:transparent;}
.step-state.prog_step{background:transparent;}
.prog_step p{margin-top:0px;}
.prog_step ul{width:100%;}
.prog_step ul li{display:table-cell;}
.step-state {padding:0 0 15px 0;/* margin-top:15px; */background:#2b2b2b;}
.step-state ul:after {content:'';display:block;clear:both;}
.step-state ul li{float:left;position:relative;width:16.6666%;padding-top:70px;font-size:25px;text-align:center;line-height:12px;color:#ed6d00;}
.prog_step ul li{font-size:20px; width:9.09%;}
.step-state ul li:first-child {/* font-size:13px; */}

.step-state ul li p:after {
	position:absolute;width:41px;height:24px;margin-right:-20px;
	background:url(../images/common/ico_pangpays2.png) no-repeat 0 0;
	background-size:auto 24px;
	background-position:-58px 0;
	top:0;
	right:0;
	color:#fff;
	font-size:11px;
	line-height:16px;
	letter-spacing:-.5px;
}
.step-state ul li:first-child p {
	/* padding-top:6px */
}
.step-state ul li span {
	display:block;
	margin-top:2px;
	font-weight:normal;
	color:#ed6d00/* #898989 */;
	font-size:14px
}
.step-state ul li .pro_unit{
 display:block;
 line-height:1;
}
.step-state ul li:before {
	position:absolute;
	top:35px;
	left:0;
	right:0;
	height:3px;
	background:#ddd;
	content:''
}
/* 첫 번째 진행바 반만 생성*/
.step-state ul li:nth-child(1):before {
	left:50%
}
/* 마지막 진행바 반만 생성*/
.step-state ul li:nth-child(6):before {
	right:50%
}
.prog_step ul li:nth-child(6):before{
   right:0%;
}
.prog_step ul li:last-child:before{
   right:50%;
}
/* 화살표 상태 아이콘 */
.step-state ul li:after {
	position:absolute;
	top:27px;
	left:50%;
	width:20px;
	height:20px;
	margin-left:-10px;
	background:url(../images/common/ico_pangpays2.png) no-repeat 0 0;
	background-size:auto 24px;
	background-position:0 0;
	content:''
}

/* 활성화 진행바 및 활성화 화살표 아이콘 표시 */
/* 활성화 상태바 */
.step-state.step1-ing ul li:nth-child(1):before,
.step-state.step2 ul li:nth-child(-n+2):before,
.step-state.step2-ing ul li:nth-child(-n+2):before,
.step-state.step3 ul li:nth-child(-n+3):before,
.step-state.step3-ing ul li:nth-child(-n+3):before,
.step-state.step4 ul li:nth-child(-n+4):before,
.step-state.step4-ing ul li:nth-child(-n+4):before,
.step-state.step5 ul li:nth-child(-n+5):before,
.step-state.step5-ing ul li:nth-child(-n+5):before,
.step-state.step6 ul li:nth-child(-n+6):before {
	background:#ed6d00
}
/* 활성화 아이콘 표시 */
/*.step-state.step1 ul li:nth-child(1):after,
.step-state.step2 ul li:nth-child(-n+2):after,
.step-state.step2-ing ul li:nth-child(-n+2):after,
.step-state.step3 ul li:nth-child(-n+3):after,
.step-state.step3-ing ul li:nth-child(-n+3):after,
.step-state.step4 ul li:nth-child(-n+4):after,
.step-state.step4-ing ul li:nth-child(-n+4):after,
.step-state.step5 ul li:nth-child(-n+5):after,
.step-state.step5-ing ul li:nth-child(-n+5):after,
.step-state.step6 ul li:nth-child(-n+6):after {
	background-position:-20px 0*/
}
/* 도전 중일 경우의 1/2 영역 비활성화 상태바 영역 */
.step-state ul li p:before {
	position:absolute;
	top:35px;
	left:50%;
	right:0;
	height:3px;
	content:'';
}

/*.prog_step.step1 ul li:nth-child(1):after{
  background-position:0px 0px;
 }*/

.step-state.step2 ul li:nth-child(2) p:before,
.step-state.step3 ul li:nth-child(3) p:before,
.step-state.step4 ul li:nth-child(4) p:before,
.step-state.step5 ul li:nth-child(5) p:before,
.step-state.step6 ul li:nth-child(6) p:before {
	background:#ddd
}
/* "도전중" 텍스트 표시 */
.step-state.step1-ing ul li:nth-child(1) p:after,
.step-state.step2-ing ul li:nth-child(2) p:after,
.step-state.step3-ing ul li:nth-child(3) p:after,
.step-state.step4-ing ul li:nth-child(4) p:after,
.step-state.step5-ing ul li:nth-child(5) p:after {
	content:'Preparing';
}

/* "달성" 텍스트 표시 */
.prog_step ul li.activation:before{
  background:#ee721f;
}
.prog_step ul li.activation:after{
   background-position:-20px 0px;
}

.prog_step2 ul li.activation:before{
  background:#ee721f;
}
.prog_step2 ul li.activation:after{
   background-position:-20px 0px;
}


/* .step-state.step2 ul li:nth-child(2) p:after,
.step-state.step3 ul li:nth-child(3) p:after,
.step-state.step4 ul li:nth-child(4) p:after,
.step-state.step5 ul li:nth-child(5) p:after,
.step-state.step6 ul li:nth-child(6) p:after{
	content:'';
	right:50%
} */

.Countor_cont{
 padding:30px 40px;
}

/*팝업*/
.with_modal_dialog{width:640px;}
.with_content{background:#2b2b2b; border:3px solid #777;}
.modal-header{border-bottom:1px solid #555;}
.modal-footer{border-top:1px solid #555; text-align:left; padding:25px 30px;}
.modal-body{padding:25px; text-align:left;}
button.close{opacity:1; color:#999; font-size:28px; text-shadow:none; position: absolute; top: 25px; right: 30px;}
.modal-header{padding:25px 30px 20px; text-align:center;}
.modal-header .with_tlt{color:#fff; font-size:28px; letter-spacing:0.5px;}
.modal-body .balance_line{color:#fff; font-size:21px; line-height:1.1; word-break: break-all; padding:20px 0px;}
.modal-body .balance_line .name{display:inline-block; font-size:21px; color:#ed6d00; width:32%; float:left; letter-spacing:-0.5px; margin-bottom:3px;}
.modal-body .balance_line .balance_space{margin-left:32%; width:68%;}
.modal-body .balance_line .balance_space .add_num{font-size:16px;}
.modal-body .balance_line .count{}
.modal-body .balance_line .unit{display:inline-block; padding-left:5px; color:#bbb; font-size:21px;}
.modal-body .balance_line input{font-size:16px; display:inline-block; width:260px;}
.modal-body .balance_line input[type=file]{padding:3px 10px;}
.modal-body .balance_line .address{width:100%;}
.modal-footer .closer{float:right; font-size:16px; background:#aaa; color:#fff; border:none;}
.modal-footer .width_button{float:left; background: #ed6d00; color:#fff; font-size:16px; border:none;}



/*거래내역*/
.history_zone{
/*min-height:110px;*/
padding:0px;
overflow:hidden; 
margin-bottom:0px;
}
.history_zone table{
 width:100%;
 margin-top:10px;
 margin-bottom:20px;
}
/*.history_zone table tr:first-child th{
border-top:none;
}
.history_zone table tr:first-child td{
border-top:none;
}*/
.table_list th{
 background-color:#2b2b2b;
 border:1px solid #ddd;
 border-right:none;
 font-size:15px;
 color:#fff;
 text-align:center;
 padding:8px 12px 12px;
 vertical-align:middle;
 width:28%;
 word-break: break-all;
}
.table_list td{
background-color:#555;
border:1px solid #ddd;
font-size:15px;
color:#fff;
padding:8px 12px 12px;
vertical-align:middle;
word-break: break-all;
}
.table_list td .counting{
font-size:15px;
}
.table_list td .unit{
font-size:15px;
font-weight:bold;
margin-left:3px;
vertical-align:baseline;
line-height:1.5;
}
.list_paging{
text-align:center;
/*padding:10px 0px;*/
margin:10px 0px;
}
.list_paging ul{
margin:0px;
}
.list_paging li{
display:inline-block;
padding:0px;
margin-left:-6px;
padding: 6px 12px 3px;
color: #fff;
font-size: 15px;
background-color: #555;
border: 1px solid #777;
}
.list_paging .Pdisabled{
cursor:not-allowed;
}
.list_paging li:hover{
background-color:#eee;
color:#555;
}
.list_paging .select{
background-color: #2b2b2b;
 /* border: 1px solid #fff; */
 color: #fff;
cursor: default;
}
.list_paging .select:hover{
background-color:#555;
}
.list_paging li:first-child{
border-radius:4px 0px 0px 4px;
padding:6px 10px 3px;
}
.list_paging li:last-child{
border-radius:0px 4px 4px 0px;
padding:6px 10px 3px;
}
.list_paging li i{
/*line-height:1.42857143;*/
padding-top:1px;
}

.admin-table th{
 text-align:center;
}


/* 모바일 hidden 요소 */
.top_contactus .inner h1.logo,
.menu_close,
.footer_sns_mo,
.mo_menu{display:none}

/* 모바일 */
@media only screen and (max-width : 1200px) {
 .logtxt_pc{margin-top:10px;}
 .login_name{margin:10px 0px;}
}

@media only screen and (max-width : 1024px) {
	.header{background-color: #141414;}
	.top_contactus {height:58px;padding-top:23px}
	.top_contactus .inner{padding:0 20px}
	.top_contactus .inner h1.logo{display:block;margin-left:0px}
	.ico .top_contactus .inner h1.logo{margin-left:0px}
	.inner{width:100%;}
	.gnbArea{height:auto;}
	.gnbArea h1.logo{display:none}
	.header h1.logo {padding-top:0}
	.header .gnb_cont{float:none;text-align:center;margin-top:0; margin-left:0px;}
	.header .gnb_cont li{margin-left:17px}
	.header .gnb_cont li:first-child{margin-left:0px}
	.main_facial .cont_inner,
	.main_Distribution .cont_inner,
	.main_sns .cont_inner,
	.main_fond .cont_inner,
	.main_shopping .cont_inner{width:1024px}
	.logtxt_pc{float:none; margin:10px auto;}
	.login_name{float:none; margin:10px auto;}

    .fond_cont2 .img_zoom{width:60%;}
	.main_facial .ent_cont h2{font-size:50px}
	.facial_cont1{width:100%}

	.main_Distribution .ent_cont h2{font-size:50px}
	.distri_cont1{padding-left:300px}
	.overflowTest {margin-left: 0px;  color: white; width: 100%; height: 500px; overflow-y: scroll;}

	.Purchase_box{width:100%;}
	.pur_line .pur_half:first-child{border-right:none;}
	.pur_line .pur_half{width:100%; float:none; border:none;}
	.pur_line .pur_half dt{border-bottom:none; padding-bottom:0px;}
	.pur_line .pur_half dd input{width:100%;}
	.delete_line .with_btn{margin-top:0px;}
	.Txid_box{width:100%; padding: 15px 12px 15px; font-size:15px; margin:0px 0px 10px;}
	.Purchase_list{width:100%;}
	.Total_line{width:100%; font-size:17px; margin:0px;}
	.Total_line dt{float:none; width:100%; padding-bottom:15px;}
	.Total_line dd{margin-left:0px; width:100%;}
	.Purchase_group{width:100%;}

	.footer_cont{width:1024px;margin:0 auto}
}
@media only screen and (max-width : 800px) {
	.inner{width:100%;position:relative;}
	.top_contactus .inner h1.logo{display:block;margin-left:0px;text-align:left}
	.ico .top_contactus .inner h1.logo{margin-left:0px}
	.top_contactus .inner h1.logo a{margin-top:6px; width:130px;}
	
	.top_contactus .inner h1.logo .goto-ico {display:block;position:absolute;top:-7px;left:56%;}
	.top_contactus .inner h1.logo .goto-ico a {width:100px; display:inline-block;padding:3px 5px;color:#fff;font-weight:normal;background-color:#ed5d00;font-size:12px;text-align:center;border-radius:4px;}
	.ico .top_contactus .inner h1.logo a{display:inline-block;}
	.top_contactus .inner h1.logo img{width:100%}
	.other_bg .top_contactus .inner h1.logo img{/*width:116px;*/}
	.other_bg .top_contactus .inner h1.logo .other_ico{width:50%;}
	.top_contactus .inner{padding:0 17px}
	.mo_menu{display:block;float:right;text-align:right; padding-top:2px;}
	.mo_menu img{width:64%}
	.top_contactus{padding:17px 0 10px 0;height:auto}
	.top_contactus dl{display:none}
	.header{height:auto; background-color: #141414;}
	.lang_group{display:block; margin-left:135px;}

	.ico .top_contactus .inner h1.logo a:first-child{width:120px}
	.ico .top_contactus .inner h1.logo a:first-child img{width:116px}

	.ico .header .gnb_cont{float:none;margin-left:0px; padding-bottom:5px; border-bottom:1px solid #777;}
	
	.header .gnb_cont{font-size:13px}
	.gnbArea{height:auto;padding:6px 20px 15px 20px;background-color:#ddd;display:none}
	.header .gnb_cont{text-align:left;margin-left:0;     border-bottom: 1px solid #aaa;}
	.header .gnb_cont li{margin:7px 0px; color:#141414; display:block;}
	.header .gnb_cont li a{padding:5px 0; font-size:1.1em;}
	.logtxt_pc{width:100%; margin:0px; padding:10px 0px 0px; text-align:left;}
	.logtxt_pc li{padding:7px 20px 7px 0px; color:#141414; display:block;}
	.logtxt_pc li:nth-child(2){display:none;}
	.logtxt_pc li:nth-child(4){display:none;}
	.logtxt_pc li:nth-child(6){display:none;}
	.login_name{width:100%; margin:0px; padding:10px 0px 0px; text-align:left;}
	.login_name li{padding:7px 20px 7px 0px; color:#141414; display:block;}
	.login_name li:nth-child(2){display:none;}
	.login_name li:nth-child(4){display:none;}
	.login_name li:nth-child(6){display:none;}

	.menu_close{clear:both; display:block;text-align:center;background-color:#141414; line-height:30px;color:#fff;letter-spacing:8px;margin-top:10px}

	.main_vision .ent_cont{padding:40px 0}
	.vision_list{padding:0 25px}
	.vision_list li{float:none;width:100%;background-size:40px;font-size:15px;padding-left:55px;padding-right:0px;min-height:40px}
	.vision_list li + li{margin-top:25px}
	.vision_list li:nth-child(3){margin-top:25px}
	.vision_list li:nth-child(4){margin-top:25px}

	.ico .main_vision .summary{height:auto;background:url("../images/common/bg_ico_main01.jpg") no-repeat center top;background-size:cover; padding:30px 0px;}
	.ico01_cont{text-align:center;color:#fff;padding-top:0px}
	.ico01_cont h2{font-size:40px;font-weight:normal; margin-bottom:10px;}
	.ico01_cont_date{width:90%;margin:0 auto;background:url("../images/common/bg_tr.png") repeat center top;display:block;padding:18px 15px;margin-top:0}
	.ico01_cont_date .title,.ico01_cont_date .date_cont{display:block;width:100%;vertical-align:middle}
	.ico01_cont_date .title{font-size:30px;color:#959595;line-height:1em;margin-bottom:15px}
	.ico01_cont_date .date_cont li{display:inline-block;text-align:center}
	.ico01_cont_date .date_cont li span,.ico01_cont_date .date_cont li strong{display:block}
	.ico01_cont_date .date_cont li strong{font-size:24px;color:#ed6d00;font-weight:normal;line-height:1em;background:url("../images/common/bg_01.png") no-repeat left center;padding:0 15px;margin-top:10px}
	.ico01_cont_date .date_cont li:first-child strong{background:none}

	.ico02_cont{font-size:18px;color:#fff ;text-align:center;width:100%;margin: 0 auto;padding:18px 15px;}
	.ico02_cont h2{font-size:20px;font-weight:normal}
	.ico02_cont h2 span{display:block}
	.ico02_cont p{font-size:16px}
	.ico02_cont dl:after{content:'';display:block;clear:both}
	.ico02_cont dl{margin-top:20px}
	.ico02_cont dl dt{float:none;text-align:left;width:100%;padding-top:10px;color:#959595;font-size:16px}

	.ico02_cont dl dd{float:none; width:100%;}
	.ico02_cont dl dd + dt{margin-top:0;padding-top:0; display:none;}

	/* .ico02_cont dl dd + dt{margin-top:20px}
	.ico02_cont dl dd{float:none;margin-top:15px;}
	.ico02_cont dl dd ul{display:table;width:100%;color:#ed6d00;}
	.ico02_cont dl dd ul li{display:table-cell;width:20%;text-align:left}
	.ico02_cont dl dd ul li strong,.ico02_cont dl dd ul li span{display:block}
	.ico02_cont dl dd ul li strong{font-size:20px;font-weight:normal;padding-bottom:46px;text-align:left;}
	.ico02_cont dl dd ul li span{font-size:12px} */
	.btn_ico1{margin-top:30px}
	.btn_ico1 a{display:inline-block;border: solid 3px #ed6d00; background-color: #ed6d00; margin:5px 0px; height:50px; line-height:52px;font-size:18px;border-radius:100px;padding:0 30px}

	.main_facial .cont_inner{width:100%}
	.main_facial .summary{color:#fff;font-size:15px;background:url("../images/common/bg_main02_mo.jpg") no-repeat center top;background-size:cover;height:auto;padding:60px 15px;}
	.main_facial .summary h2{font-size:30px ;color:#ed6d00;font-weight:normal;margin-bottom:20px;}
	.main_facial .summary p{width:100%}
	.main_facial .summary p + p{margin-top:10px}
	.main_facial .ent_cont{background:#2b2b2b;height:auto;padding:60px 15px}
	.main_facial .ent_cont h2{font-size:30px;font-weight:normal;}
	.facial_cont1{width:100%;padding:303px 0 0 0;background:url("../images/common/icon_fa01.png") no-repeat center top;min-height:303px}
	.facial_cont1 p{margin-top:15px;font-size:15px}


	.ico .main_facial .summary{background:url("../images/common/bg_ico_main02.jpg") no-repeat center top;background-size:cover;height:auto;}
	.ico .main_facial .summary2{background:url("../images/common/bg_ico_main02.jpg") no-repeat center top;background-size:cover;height:auto;}

	.roadmap{text-align:left;background:url("../images/common/bg_bar2_r.png") repeat-y center top;max-width:100%}
	.roadmap li:nth-child(odd) strong{padding-left:40px;background:url("../images/common/icon_map02_r.png") no-repeat left 10px}
	.roadmap li:nth-child(odd) span{padding-left:40px;display:block}
	.roadmap li:nth-child(even){padding-left:0;padding-right:50%;text-align:right}
	.roadmap li:nth-child(even) strong{width:auto; float:right;height:auto;padding-right:40px;background:url("../images/common/icon_map02_r.png") no-repeat right 10px}
	.roadmap li:nth-child(even) span{float:right;padding-right:40px}
	.roadmap li strong{color:#ed6d00;font-weight:normal;display:block;width:100px;float:none;}
	


	.main_Distribution{font-size:15px;}
	.main_Distribution .cont_inner{width:100%}
	.main_Distribution .summary{background:url("../images/common/bg_main04_mo.jpg") no-repeat right top;background-size:cover;height:auto;padding:60px 15px;}
	.main_Distribution .summary h2{font-size:30px ;font-weight:normal;margin-bottom:20px}

	.main_Distribution .ent_cont{color:#b7b7b7;background:#2b2b2b;height:auto;padding:60px 15px;}
	.main_Distribution .ent_cont h2{font-size:30px;font-weight:normal;}
	.distri_cont1{padding-left:0;text-align:left;font-size:15px}
	.distri_cont1 p{margin-top:15px;line-height:1.4em}

	.main_shopping{font-size:15px;}
	.main_shopping .cont_inner{width:100%}
	.main_shopping .summary{background:url("../images/common/bg_main06.jpg") no-repeat center top; background-size:cover;height:auto;padding:60px 15px;}
	.main_shopping .summary h2{font-size:20px ;font-weight:normal;margin-bottom:20px;}
	.main_shopping .ent_cont{color:#b7b7b7;background:#2b2b2b;height:auto;padding:18px 15px;font-size:15px}
	.main_shopping .ent_cont h2{font-size:30px;font-weight:normal;}
	.shopping_cont1{width:100%}
	.shopping_cont1 p{margin-top:15px;line-height:1.2em}

	.ico .main_shopping .summary{background:#2b2b2b;height:auto;padding-top:50px;text-align:center;font-size:18px}
	.ico .main_shopping .summary h2{color:#fff;font-size:30px}
	.ico .main_shopping .summary p{margin-top:20px}

	.pointC01{color:#ed6d00 !important;}
	.develpers_cont1{padding-bottom:30px}
	.develpers_cont1 ul{text-align:center;margin-top:30px;font-size:14px}
	.develpers_cont1 ul li{display:block}
	.develpers_cont1 ul li a{display:block;border:solid 3px #959595;text-align:center;background:url("../images/common/bg_dep2.png") no-repeat center 45px #000;border-radius:10px;padding:125px 15px 30px 15px;}
	.develpers_cont1 ul li:first-child a{background-image:url("../images/common/bg_dep1.png")}
	.develpers_cont1 ul li + li{margin:15px 0 0 0}
	
	.main_sns{font-size:15px;}
	.main_sns .cont_inner{width:100%}
	.main_sns .summary{background:url("../images/common/bg_main07.jpg") no-repeat center top;background-size:cover;height:auto;padding:60px 15px;background-attachment:fixed;}
	.main_sns .summary h2{font-size:30px ;font-weight:normal;margin-bottom:20px;color:#ed6d00}
	.sns_cont1{width:100%}
	.sns_cont1 p{margin-top:15px;}
	.main_sns .ent_cont{background-color:#2b2b2b;padding:50px 15px}
	.sns_cont2{background:none;padding:0;color:#b7b7b7}
	.sns_cont2 p{margin-top:15px}
	.btnType01{background-color:#ed6d00;display:inline-block;box-sizing:border-box;min-width:50px;text-align:center;padding:10px 20px}
	.btnType01 + .btnType01{margin: 20px 0px 0px;}

	.ico .main_sns .summary{background:none;height:auto;padding:0}

	.main_fond{color:#fff;font-size:15px;}
	.main_fond .cont_inner:after{content:'';display:block;clear:both}
	.main_fond .cont_inner{width:100%}
	.main_fond .summary{background:url("../images/common/bg_main08.jpg") no-repeat center top;background-size:cover;height:auto;padding:18px 0px 0px 15px}
	.main_fond .summary h2{font-size:30px ;font-weight:normal;margin-bottom:30px;color:#ed6d00}
	.fond_cont1{background:url("../images/common/img_pic1_mo.png") no-repeat right bottom;min-height:523px;padding-right:0px;padding-top:60px;padding-bottom:60px}
	.fond_cont1 p + p{margin-top:20px}
	.fond_cont1 p{padding-right:100px;text-shadow:1px 1px #000}
	.sign{margin-top:40px !important}
	.sign span{display:block;margin-top:10px}
	.sign span img{max-width:100%}

	.fond_cont2 {display:block;width:100%;overflow:hidden;padding:20px 15px;}
	.fond_cont2 .img_zoom{display:block;vertical-align:middle; width:100%;}
	.fond_cont2 .img_zoom > span{display:none;height:auto;overflow:hidden}
	.fond_cont2 .img_zoom > span img{max-width:100%}
	.fond_cont2 .img_zoom > span.on{display:block}
	.fond_cont2 ul{display:block;width:100%;height:auto; vertical-align:middle;padding-top:20px}
	.fond_cont2 ul li{float:left; padding: 0px 5px 10px 5px; width:25%}
	.fond_cont2 ul li img{max-width:100%}
	.found_para{display:none}
	.found_para span{display:block;margin-top:20px}

	.main_contactus{color:#fff;font-size:14px;text-align:center;border-bottom:solid 1px #4f4f4f;}
	.main_contactus .ent_cont {padding:18px 15px}
	.main_contactus .ent_cont h2{font-size:25px;color:#ed6d00;font-weight:normal;margin-bottom:10px}
	.main_contactus .ent_cont p span{display:block}


	.footer_sns{display:none}
	.footer{border-top:solid 1px #4f4f4f}
	.footer_cont{width:100%;margin:0 auto}
	.footer h1{font-size:16px;padding:0 15px}
	.wrap_footer_ent{display:block;width:100%;margin-top:0px}
	.wrap_footer_ent > div{display:block;padding:15px;}
	.footer_area2{border-width:1px 0 0 0;width:100%}
	.footer_store {text-align:center}
	.footer_store li{display:inline-block;width:32%;text-align:center}
	.footer_store li img {width:90%;}

	.wrap_footer_ent dl + dl{margin-top:15px}

	.footer_sns_mo{display:block;text-align:center;border-top:solid 1px #4f4f4f;padding:10px 0}
	.footer_sns_mo li{display:inline-block;padding:0 7px;text-align:center}
	.footer_sns_mo li img{width:31.5px;}

	.container{margin-top:53px}

	.cont_inner{width:100%}
	.main_vision .summary{height:auto;padding:35px 0 20px;background:url('../images/common/bg11.jpg') no-repeat center bottom;background-size:cover;}
	.vision_cont1{width:260px;float:none;text-align:left;background:url('../images/common/icon_main_vision1.png') no-repeat left center;background-size:auto 84px ;padding-top:0px;padding-left:100px;
	                    font-size:20px;color:#fff;line-height:1.4em;margin:0px auto;min-height:84px; letter-spacing:0.5px;}
	.vision_cont1 span{display:block; font-size:1.06em;}
	.vision_cont2 p{display:none}
	.vision_cont2{float:none;text-align:center;width:100%}
	.vision_cont2 ul{margin-top:30px;}
	.vision_cont2 li {display:inline-block;width:30%;/* padding:0 5px 0 5px; */text-align:center}
	.vision_cont2 li:first-child {text-align:right}
	.vision_cont2 li:last-child {text-align:left}
	.vision_cont2 li img{width:75%;max-width:100%}

	
	.coin_icon_set img {margin:0 5px;}

	.step-state ul li {font-size:15px;}
	.step-state ul li span {font-size:12px;}
	.step-state.prog_step{padding:0px 0px 20px 0px;}
	.prog_step ul li{width:33.33%; width:25%; padding-top:57px;}
	.prog_step2 ul li{width:33.33%; padding-top:57px;}

    #wrap_other{padding: 0 2% 10px;}
	.other_contain {padding:20px 0 50px 0;}
	.other_contain.Progress{padding:20px 0px 50px 0px;}
	.other_contents .pointC01 {display:inline-block;}
	.other_tab button{margin:10px 0px;}

	.other_bg{padding-top:60px; background: #2b2b2b;}
	.other_contain h2{font-size:23px;}
	.other_contain h2.crowd{font-size: 23px; padding: 10px 0px; margin: 0px;}
	.other_contain h3{font-size:24px; margin:10px 0px 20px;}
	.tabType01 li a{font-size:0.86em; letter-spacing:-0.5px;}
	.tab_content > strong{font-size:20px;}
	.btn_view{margin-top:10px;}
	.other_contain .explain{margin:0px; font-size:0.96em; padding:10px 0px;}
	.other_contain .explain .line{display:inline;}
	.qr_space{width:100%; padding:15px 10px;}
	.qr_space img{width:100%; height:auto;}
	.Countor_cont{padding:0px 0px 20px;}
	.other_copy{margin:25px 0px; font-size:15px;}
	.other_copy .copy{display:block; font-size:0.9em;}
	.other_contents.service{padding:0px;}
    .with_btn{margin-top:20px; width: 100%; margin-left: 0px; height: 47px; line-height:49px;}

    .Purchase_list{font-size:13px;}
	.purchase_table th{padding:8px 4px 6px;}
	.purchase_table td{padding:8px 4px 6px;}
    .purchase_table thead th:nth-child(1){width:13%;}
	.purchase_table th .ifword{display:none;}
	.purchase_table td .addicon{display:block; float:none; margin:3px 0px 0px;}
	.purchase_table td .addicon i{font-size:19px;}
	.purchase_table td .addbtn{width:22px; height:22px;}
	.purchase_table td .addbtn i{font-size:14px;}
	.purchase_table td .pur_write01{width:100%;}
    .member_record dt{font-weight:normal; letter-spacing:-0.5px;}

	.Total_line .total{width:100%; display:block; text-align:left; padding:5px 0px; font-size:1.1em;}
}


@media only screen and (max-width : 630px) {
	.roadmap{max-width:600px}
	.other_contents{padding:0 15px}
	.other_contain h1{font-size:26px; padding:0px 0px 10px 0px;}
	.btn_area li{margin:0 0 10px 0; display:block;}
	.btn_area li a{display:block; width:100%;}
	.tab_content{padding:18px 15px}
	.other_contain .addtitle{display:block; margin-bottom:5px;}
	.other_contain .addvalue{font-size:15px;}

    .with_modal_dialog{width:auto;}
    .modal-header{padding:15px;}
	button.close{top:15px; right:15px;}
	.modal-body{padding:15px 15px 20px;}
	.modal-header .with_tlt{font-size:24px; margin:0px;}
	.modal-body .balance_line{font-size:20px; height:auto; padding:15px 0px;}
	.modal-body .balance_line .name{display:block; font-size:20px; width:100%; float:none; margin-bottom:10px;}
	.modal-body .balance_line .balance_space{margin:0px; width:100%;}
	.modal-body .balance_line input{width:200px;}
	.modal-body .balance_line .address{width:100%;}
	.modal-body .balance_line .unit{padding-left:5px; font-size:20px;}
	.modal-footer{padding:25px 15px;}

	.table_list th{font-size:14px; padding:12px 6px 10px;}
	.table_list td{font-size:14px; padding:12px 6px 10px;}
	.list_paging li{font-size:14px; padding:6px 10px 3px;}

	.Txid_box input{width:100%; display:block; margin:10px 0px 0px;}
	
	.class-logo
        {
          width: 190px;
          height: 190px;
        }

        .download-svg {
          height: 60px;
          width: 150px;
        }
		   .mt-5{
    color: #efefef;
  font-size:22px;
  text-decoration:bold;
  }
  .lead{
    color: #efefef;
    font-size:14px;
	
  }
		
}

@media only screen and (max-width : 500px) {
	.roadmap{max-width:570px}
	.layerpopup_cont{max-width:100%;background-color:#fff;border-radius:10px;padding:20px 15px;margin:0 auto;text-align:center;font-size:18px;color:#000}
	.pop_input input{width:100%}
	.pop_btn{width:100%;}
	.pop_btn a{height:47px; line-height:49px;}
	.other_tab{padding:0px 15px;}
	.other_tab button{width:100%; margin:10px 0px;}
	
	.class-logo
        {
          width: 160px;
          height: 160px;
		  
        }
		

        .download-svg {
          height: 60px;
          width: 120px;
        }
		   .mt-5{
    color: #efefef;
  font-size:22px;
  text-decoration:bold;
  }
  .lead{
    color: #efefef;
    font-size:14px;
	
  }
  		.notice {
    border: 2px solid #dedede;
    width:80%;
  height:auto;
    background-color: #222;
    border-radius: 5px;
    padding: 10px;
	margin-left:40px;
  margin-bottom:0.5%;
  margin-top:10%;
  color:#fff;
  display:inline-block;
  font-size:17px;
 position:fixed;


}

.time-right {
    float: left;
    color: red;
}
}
@media only screen and (max-width : 420px) {
	.roadmap{max-width:330px}
	.download-svg {
          height: 60px;
          width: 100px;
        }
    
       .mt-5{
    color: #efefef;
  font-size:22px;
  text-decoration:bold;
  }
  .lead{
    color: #efefef;
    font-size:14px;
	
  }
   .class-logo
        {
          width:160px;
          height:160px;
		
        }
		.notice {
    border: 2px solid #dedede;
    width:80%;
  height:200px;
    background-color: #222;
    border-radius: 5px;
    padding: 10px;
	margin-left:40px;
  margin-bottom:0.5%;
  margin-top:50%;
  color:#fff;
  display:inline-block;
  font-size:15px;
 position:fixed;


}

.time-right {
    float: left;
    color: red;
}

}

/* The Modal*/
.modal_pdf{
 display: none;
    position: fixed;
    z-index:9999;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(255, 255 255);
    background-color: rgba(0,0,0,0.9);
}
.content_pdf{
   margin: auto;
   padding: 20px;
   width:60%;
   margin-top:50px;
    background-color: rgba(255, 253, 255 ,1);
}
.content_pdf .close{
  opacity:1;
  color:#fff;
  font-size:34px;
}

.gallery {
    float: left;
    width: 250px;
}



.desc {
    padding: 15px;
    text-align: center;
}


@media only screen and (max-width :1200px) {
 .content_pdf{width:90%;}


 }

@media only screen and (max-width :800px) {
 .modal_pdf{padding-top:30px;}

 .wrap_notice{padding:40px 20px 30px;}
 .wrap_layerpopup{width:100%;}

 }


/* The Modal (background) */
/*.modal {
    display: none; 
    position: fixed; 
    z-index:9999; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8);
}*/

/* Modal Content */
/*.modal-content {
    margin: auto;
    padding: 20px;
    width: 70%;
	background:transparent;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
	opacity:1;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
@media only screen and (max-width: 700px){
    .modal-content  {
        width: auto;
	
     
    }
	.pic {
        width: auto;
    }
	.modal-content {
    margin: auto;
    border-radius:10px;
    width: 100%;
	height:40%;
}
	.overflowTest {
   margin-left:0px;
    color: white;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
   }
}

@media only screen and (max-width: 500px){
    .pic{
        width: 30%;
	
    }
	.modal-content  {
        width: 80%;
     
    }
	.overflowTest {
margin-left:0px;
    color: white;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
}
}
@media only screen and (max-width: 1028px){
    .pic{
        width: 30%;
	
    }
	.modal-content  {
        width: 80%;
     
    }
	.overflowTest {
   margin-left:0px;
    color: white;
    width: 100%;
    height: 500px;
    overflow-y: scroll;
  }
}*/
.img1 {
    float: right;
   
    margin:  20px;
}.img2 {
    float: left;
     margin: 20px;
}
.parallax {
    /* The image used */
    background:url("../images/common/bg_main02.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax_blockchian {
    /* The image used */
    background:url("../images/common/bg_main04.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#myBtn1 {
  display: none;
  position: fixed;
  bottom: 0px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  float:right;
}

#myBtn1:hover {
  background-color: #555;
}





.download-svg {
          height: 60px;
        }
      #particles-js
  { 
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    width: 100%;
    height: 675px;
    left: 0;
    z-index: 0;
    } 
  .mt-5
{
    color: #efefef;
  font-size:40px;
  }
  .lead{
    color: #efefef;
    font-size:16px;
  }

.news_links{

    letter-spacing: 3px;
   color: #fff;
}

.link_cls {
    text-decoration: none;
   
}.link_cls:hover{
       color: #ed6d00;
   
}.top_stories{
       color: #fff;
     font-size:30px;
     text-decoration:bold;
     
   
}
.news-column {
float:center;
   margin:60px;
     padding: 0.8em 0 0.3em;
	 height:430px;
	
}

.news-column h4 {
    font-size: 1.3em;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
 margin: 0;
}
.news-column h5 {
padding:10px;
    color: #fff;
  
}


.news-column p {
    color: #777;
    line-height: 1.7em;
    padding: 0.1em 0 0em;
    display: i;
    font-size: 1em;
}

.news-column:hover {
    background-color :rgba(255,255,255,0.2);
  border-radius:5px;


}
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

       

