body

{
	background-color: #222323;
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}
/*LOGIN*/
.main-container{
	padding-bottom: 50px;
}

.login-logo
{
	height: 120px;
}

.coin-logo
{
	height: 50px;
	width: 50px;
}

.qrcode-img{
	height: 300px;
	width: 300px;
	margin-bottom: 20px;
}

.landing-logo
{
	height: 50px;
	margin-bottom: 40px;

}



.row-modal{
	font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
	/*padding-top: 70px;*/
}

#login-modal .modal-heading{
	padding: 50px;
}
.modal-content{
	background-color: #222323;
	-webkit-box-shadow: 0 5px 15px rgba(0,0,0,0);
	-moz-box-shadow: 0 5px 15px rgba(0,0,0,0);
	-o-box-shadow: 0 5px 15px rgba(0,0,0,0);
	box-shadow: 0 5px 15px rgba(0,0,0,0);
	-webkit-border-radius: 0px !important;
	-moz-border-radius: 0px !important;
	border-radius: 0px !important; 
}

.login-textfield{
	max-width: 400px;
}

.btn-link{
	color:white;
}

#historyModal .modal-content {
	background-color: white;
	color: black;
}

.modal-heading h3{
	color:#ffffff;
}

.text-line {
	background-color: transparent;
	color: #eeeeee;
	outline: none;
	outline-style: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid #bcbcbc 1px;
	padding: 3px 10px;
}

input[type="text"]:disabled {
	background-color: transparent;
	color: #eeeeee;
	outline: none;
	outline-style: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid #bcbcbc 1px;
	padding: 3px 10px;
}

.input-group-addon
{
	background-color: transparent;
	color: #eeeeee;
	outline: none;
	outline-style: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid #bcbcbc 1px;
	padding: 3px 10px;
}

.login-button{
	padding-top:15px;
}
.btn-login{
	color:white;
	padding-top: 50px;
	background-color:transparent;
	border-color: white;
	border-radius: 15px;
	padding: 7px 35px;

}

.btn-login:hover{
	padding-top: 20px;
	background-color:#b78300;
	border-color: white;
	border-radius: 15px;
	padding: 7px 35px;
}

.btn-transaction{
	padding-top: 50px;
	background-color:transparent;
	border-color: white;
	border-radius: 15px;
	padding: 7px 35px;

}

.btn-transaction:hover{
	padding-top: 20px;
	background-color:#e8a806;
	border-color: white;
	border-radius: 15px;
	padding: 7px 35px;
}

/*LOGIN*/


/*LANDING*/
.container-fluid
{
	color:white;
}


/*-------------------------------*/
/*           Wrappers            */
/*-------------------------------*/

#wrapper {
	padding-left: 0;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 220px;
}

#sidebar-wrapper {
	z-index: 1000;
	left: 220px;
	width: 0;
	height: 100%;
	margin-left: -220px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #1a1a1a;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#sidebar-wrapper::-webkit-scrollbar {
	display: none;
}

#wrapper.toggled #sidebar-wrapper {
	width: 220px;
}

#page-content-wrapper {
	width: 100%;
	padding-top: 70px;
}

#wrapper.toggled #page-content-wrapper {
	position: absolute;
	margin-right: -220px;
}

/*-------------------------------*/
/*     Sidebar nav styles        */
/*-------------------------------*/

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 220px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.sidebar-nav li {
	position: relative; 
	line-height: 20px;
	display: inline-block;
	width: 100%;
}

.sidebar-nav li:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	width: 3px;
	background-color: #1c1c1c;
	-webkit-transition: width .2s ease-in;
	-moz-transition:  width .2s ease-in;
	-ms-transition:  width .2s ease-in;
	transition: width .2s ease-in;

}
.sidebar-nav li:first-child a {
	color: #fff;
	background-color: #1a1a1a;
}
.sidebar-nav li:nth-child(2):before {
	background-color: #d67500;   
}
.sidebar-nav li:nth-child(3):before {
	background-color: #d67500;   
}
.sidebar-nav li:nth-child(4):before {
	background-color: #d67500;   
}
.sidebar-nav li:nth-child(5):before {
	background-color: #d67500;   
}
.sidebar-nav li:nth-child(6):before {
	background-color: #d67500;   
}
.sidebar-nav li:nth-child(7):before {
	background-color: #d67500;   
}
.sidebar-nav li:nth-child(8):before {
	background-color: #d67500;   
}
.sidebar-nav li:nth-child(9):before {
	background-color: #d67500;   
}
.sidebar-nav li:hover:before,
.sidebar-nav li.open:hover:before {
	width: 100%;
	-webkit-transition: width .2s ease-in;
	-moz-transition:  width .2s ease-in;
	-ms-transition:  width .2s ease-in;
	transition: width .2s ease-in;

}

.sidebar-nav li a {
	display: block;
	color: #ddd;
	text-decoration: none;
	padding: 10px 15px 10px 30px;    
}

.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus{
	color: #fff;
	text-decoration: none;
	background-color: transparent;
}

.sidebar-nav > .sidebar-brand {
	height: 65px;
	font-size: 20px;
	line-height: 44px;
}
.sidebar-nav .dropdown-menu {
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	border-radius: 0;
	border: none;
	background-color: #222;
	box-shadow: none;
}

/*-------------------------------*/
/*       Hamburger-Cross         */
/*-------------------------------*/

.hamburger {
	position: fixed;
	top: 20px;  
	z-index: 999;
	display: block;
	width: 32px;
	height: 32px;
	margin-left: 15px;
	background: transparent;
	border: none;
}
.hamburger:hover,
.hamburger:focus,
.hamburger:active {
	outline: none;
}
.hamburger.is-closed:before {
	content: '';
	display: block;
	width: 100px;
	font-size: 14px;
	color: #fff;
	line-height: 32px;
	text-align: center;
	opacity: 0;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover:before {
	opacity: 1;
	display: block;
	-webkit-transform: translate3d(-100px,0,0);
	-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom,
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
	position: absolute;
	left: 0;
	height: 4px;
	width: 100%;

}
.hamburger.is-closed .hamb-top,
.hamburger.is-closed .hamb-middle,
.hamburger.is-closed .hamb-bottom {
	background-color: #fff;
}
.hamburger.is-closed .hamb-top { 
	top: 5px; 
	-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed .hamb-middle {
	top: 50%;
	margin-top: -2px;
}
.hamburger.is-closed .hamb-bottom {
	bottom: 5px;  
	-webkit-transition: all .35s ease-in-out;
}

.hamburger.is-closed:hover .hamb-top {
	top: 0;
	-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-closed:hover .hamb-bottom {
	bottom: 0;
	-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-middle,
.hamburger.is-open .hamb-bottom {
	background-color: #fff;
}
.hamburger.is-open .hamb-top,
.hamburger.is-open .hamb-bottom {
	top: 50%;
	margin-top: -2px;  
}
.hamburger.is-open .hamb-top { 
	-webkit-transform: rotate(45deg);
	-webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open .hamb-middle { display: none; }
.hamburger.is-open .hamb-bottom {
	-webkit-transform: rotate(-45deg);
	-webkit-transition: -webkit-transform .2s cubic-bezier(.73,1,.28,.08);
}
.hamburger.is-open:before {
	content: '';
	display: block;
	width: 100px;
	font-size: 14px;
	color: #fff;
	line-height: 32px;
	text-align: center;
	opacity: 0;
	-webkit-transform: translate3d(0,0,0);
	-webkit-transition: all .35s ease-in-out;
}
.hamburger.is-open:hover:before {
	opacity: 1;
	display: block;
	-webkit-transform: translate3d(-100px,0,0);
	-webkit-transition: all .35s ease-in-out;
}

/*-------------------------------*/
/*            Overlay            */
/*-------------------------------*/

.overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(000,000,000,.8);
	z-index: 1;
}
/*LANDING*/

/*LANDING CONTENT*/
.main-row{
	
	color: white;
}

.label-warning{
	background-color: #d67500;
}
/*LANDING CONTENT*/


#coinnav {  

	text-align: center; 
	margin-bottom: 10px; 
	margin-top: 20px;
}

#coinnav  ul.nav {
	display: inline-block;
}

#coinnav li {
	display: inline
}

#coinnav a {
	float: left
	margin-right:20px;
	background-color: transparent;
	border-radius: 100px;
}

#coinnav a:hover {
	border-radius: 90px;
}

#coinnava li, a:active {
	background-color: blue;
}

.alt-coin-logo
{
	width: 30px;
	height: 30px;

}

.nav-tabs { border-bottom: none; }

.exchange-row{

}

/*MANAGE WALLET*/
#coin-check-list{
	color: black;
}
#coin-check-list h3{
	color: white;
}

#coin-check-list .well{
	max-height: 300px;overflow: auto;
	background-color: transparent;
	border:none;
}

#coin-check-list .list-group{
	max-height: 300px;overflow: auto;
	background-color: transparent;
	border:none;
}

/* CSS REQUIRED */
.state-icon {
	left: -5px;
}
.list-group-item-primary {
	color: 
	background-color: rgb(66, 139, 202);
}

/* DEMO ONLY - REMOVES UNWANTED MARGIN */
.well .list-group {
	margin-bottom: 0px;
}
/*MANAGE WALLET*/

/*SHOPPING IMAGES*/

#shopping-container img
{
	height: 125px;
	width:320px;
}

/*SHOPPING IMAGES*/

.fixed-footer {
	text-align: center;
}

#footer a {
	color: #d67500;
}
#footer p {
	color: #afafaf;
}




@media only screen and (max-width: 600px) {
	.login-logo
	{
		height: 60px;
	}

	h2{
		font-size: 20px;
	}
	h3{
		font-size: 18px;
	}

	.qrcode-img{
		height: 150px;
		width: 150px;
		margin-bottom: 10px;
	}

	.alt-coin-logo
	{
		width: 25px;
		height: 25px;
	}

	.one{
		display: none;
	}

	.landing-logo
	{
		height: 30px;


	}
}
















